.partner {
	height: 103px;
	background: hsl(0, 0%, 92%);
	user-select: none;
	.swiper-slide {
		display: inline-flex;
		align-items: center;
		padding: 10px;
	}
}
footer {
	padding: 70px 0;
	background: #212121;
	@media (max-width: 767.98px) {
		padding: 30px 0;
	}
}
.footer__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	// align-items: flex-end;
	& > div {
		-ms-flex: 0 0 26%;
		flex: 0 0 26%;
		max-width: 26%;
		text-align: center;
		color: #EAEAEA;
		h3 {
			display: block;
			padding-bottom: 10px;
			margin-bottom: 20px;
			font-size: 23px;
			position: relative;
			&::after {
				position: absolute;
				content: "";
				width: 100%;
				height: 1px;
				background: linear-gradient(to top, #fff 0%, #2A2627 100%);
				bottom: 0;
				left: 0;
			}
		}
	}
	.footer__about {
		.img {
			margin-bottom: 20px;
		}
		.address {
			p {
				font-family: Roboto-Light;
			}
		}
	}
	.footer__menu {
		ul {
			padding: 0;
			list-style: none;
			li {
				margin-bottom: 15px;
				a {
					color: #EAEAEA;
				}
				&.active {
					a {
						color: #a62c32;
					}
				}
			}
		}
	}
	.footer__subscribe {
		p {
			font-family: Roboto-Light;
			margin-bottom: 20px;
		}
		input[type=text] {
			width: 100%;
			height: 30px;
			text-align: center;
			border: none;
			background: #EAEAEA;
			border-radius: none;
			margin-bottom: 10px;
		}
		.btn--sendus {
			width: 100%;
			height: 30px;
			background: #EAEAEA;
			opacity: .4;
			margin-bottom: 20px;
			span {
				// opacity: 1 !important;
				// color: #EAEAEA !important;
			}
		}
		.social {
			display: flex;
			justify-content: space-between;
			.left {
				display: flex;
				margin-right: -5px;
				margin-left: -5px;
				img {
					padding: 0 5px;
				}
			}
			margin-bottom: 10px;
		}
	}
	@media (max-width: 767.98px) {
		flex-direction: column;
		.footer__about {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
		.footer__menu {
			display: none;
		}
		.footer__subscribe {
			margin-top: 10px;
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			margin: 0 auto;
		}
	}
}