header {
	z-index: 500;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	&[loading] {
		.nav__wrapper li {
			display: none;
		}
		// .right__wrapper {
		// 	svg {
		// 		display: noen;
		// 	}
		// }
	}

	&[loaded] {
		@media (min-width: 1025px) {
			.nav__wrapper {
				opacity: 1;
			}
		}
		// .right__wrapper {
		// 	svg {
		// 		opacity: 1;
		// 	}
		// }
	}
	@media (max-width: 1024px) {
	}
}
.menu {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	@media (min-width: 1025px) {
		display: none;
	}
}
.menu span {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.menu span:before,
.menu span:after {
	position: absolute;
	content: "";
}
.menu span,
.menu span:before,
.menu span:after {
	width: 14px;
	height: 2px;
	background-color: #a62c32;
	display: block;
}
.menu span:before {
	margin-top: -5px;
}
.menu span:after {
	margin-top: 5px;
}

.hamburger_menu span {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	&::before {
		-webkit-transition-property: margin, -webkit-transform;
		transition-property: margin, transform;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-transition-delay: 0.2s, 0s;
		transition-delay: 0.2s, 0s;
	}
	&::after {
		-webkit-transition-property: margin, -webkit-transform;
		transition-property: margin, transform;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-transition-delay: 0.2s, 0s;
		transition-delay: 0.2s, 0s;
	}
}

.hamburger_menu.active span {
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	&::before {
		margin-top: 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition-delay: 0s, 0.2s;
		transition-delay: 0s, 0.2s;
	}
	&::after {
		margin-top: 0;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transition-delay: 0s, 0.2s;
		transition-delay: 0s, 0.2s;
	}
}

.ishavesubmenu {
	position: relative;
}

.header__nav--top {
	background: rgb(0, 0, 12.94);
	margin-bottom: 95px;
	@media (max-width: 1024px) {
		margin-bottom: 0;
		.wrapper__utilities {
			// justify-content: flex-end;
			// .left {
			// 	-ms-flex: unset !important;
			// 	flex: unset !important;
			// 	max-width: unset !important;
			// }
			// .right {
			// 	-ms-flex: unset !important;
			// 	flex: unset !important;
			// 	max-width: unset !important;
			// }
		}
	}
}
.wrapper__utilities {
	height: 65px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	@media (max-width: 1024px) {
		height: 70px;
	}
	.left {
		position: relative;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		ul {
			padding: 0;
			li {
				position: relative;
				display: inline-flex;
				margin-right: 20px;
				padding: 5px;
				&:not(:last-child) {
					border: 1px solid #fff;
					border-radius: 50%;
					&.active {
						border: none;
						background: #a62c32;
					}
				}
				svg {
					vertical-align: baseline !important;
					width: 1.7rem;
					height: 1.7rem;
				}
				.btn {
					background: none;
				}
				.sumit {
					position: absolute;
					left: 0;
					top: 5px;
					svg {
						path {
							fill: #fff;
						}
					}
				}
				.form-input {
					overflow: hidden;
					input {
						padding-left: 30px;
					}
					@media (max-width: 575.98px) {
						width: 80px;
					}
				}
			}
			a {
				color: #fff;
			}
			input[type="text"] {
				background: rgb(0, 0, 12.94);
				border: none;
				border-bottom: 1px solid #fff;
				color: #fff;
			}
		}
		@media (max-width: 1024px) {
			li {
				border: unset !important;
				border-radius: unset !important;
				margin-right: 0 !important;
			}
		}
	}
	.right {
		flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		max-width: 50%;
		.right__wrapper {
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			svg {
				width: 1.7rem;
				height: 1.7rem;
				vertical-align: baseline;
				.cls-1 {
					fill: #fff !important;
				}
				@media (max-width: 850px) {
					width: 2.7rem;
					height: 2.7rem;
				}
				@media (max-width: 575.98px) {
					width: 2rem;
					height: 2rem;
				}
			}
			span {
				padding-left: 5px;
				color: #fff;
				font-size: 1.5rem;
			}
			> div {
				margin-right: 15px;
			}
			.cart {
				position: relative;
				display: inline-flex;
				align-self: flex-end;
				align-items: flex-end;
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}
				.cart-num {
					padding-left: 0;
					position: absolute;
					background: #fb0b23;
					color: #fff;
					top: -4px;
					font-family: RobotoC-Bold;
					left: 10px;
					font-size: 10px;
					min-width: 12px;
					width: max-content;
					height: 12px;
					border-radius: 50%;
					overflow: hidden;
					text-align: center;
				}
			}
		}
		.account-item {
			position: relative;
			.account-box {
				box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
				position: absolute;
				top: 100%;
				background: #fff;
				width: 150px;
				padding: 10px;
				right: 0;
				z-index: 2;
				border-radius: 5px;
				border: 1px solid #dfdfdf;
				opacity: 0;
				visibility: hidden;
				transform: translateX(-15px);
				transition: all 0.3s cubic-bezier(0.2, 0.5, 0.5, 0.8);
				.btn {
					border-radius: 7px;
				}

				.btn-register {
					margin-top: 10px;
				}
			}

			&:hover {
				.account-box {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
				}
			}
		}
	}
	@media (max-width: 1024px) {
		padding-right: 40px;
	}
}
.header__logo {
	position: relative;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 0;
	padding-top: 20px;
	transform: translateX(-50%);
	&::after {
		content: "";
		position: absolute;
		width: 36px;
		height: 65px;
		top: 0;
		left: -35px;
		border-bottom: 0 solid transparent;
		border-top: 65px solid transparent;
		border-right: 36px solid #fff;
	}
	&::before {
		content: "";
		position: absolute;
		width: 36px;
		height: 65px;
		top: 0;
		right: -35px;
		border-bottom: 0 solid transparent;
		border-top: 65px solid transparent;
		border-left: 36px solid #fff;
	}
	@media (max-width: 1024px) {
		padding-top: 0px;
		// transform: none;
		// left: 0;
		&::after {
			content: none;
		}
		&::before {
			content: none;
		}
	}
}

.header__nav--bottom {
	border-top: 1px solid #959595;
	ul.nav__wrapper {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0;
		height: 55px;
		justify-content: space-between;
		li {
			align-self: center;
			height: 100%;
			a {
				color: #2b2b2b;
				display: flex;
				height: 100%;
				align-items: center;
				align-self: center;
				justify-content: center;
			}
			@media (min-width: 1025px) {
				&:hover {
					> a {
						color: #a62c32;
					}
				}
			}
			&.active {
				> a {
					color: #a62c32;
				}
			}
			&.ishavesubmenu {
				&::after {
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX(-50%);
					display: inline-block;
					width: 15px;
					height: 13px;
					content: "";
					border-top: 0px solid #a62c32;
					border-right: 0px solid transparent;
					border-top: 0px solid #a62c32;
					border-left: 0px solid transparent;
				}
				ul.nav__wrapper {
					pointer-events: none;
					position: absolute;
					padding-top: 30px;
					opacity: 0;
					display: flex;
					height: auto;
					flex-wrap: wrap !important;
					justify-content: flex-start !important;
					align-items: unset !important;
					transition: 0.3s all ease-in-out;
					li {
						margin-bottom: 10px;
						width: max-content;
						height: auto !important;
						@media (min-width: 1025px) {
							&:hover {
								> a {
									color: #a62c32;
								}
							}
						}
					}
				}
			}

			@media (min-width: 1025px) {
				&.ishavesubmenu {
					&:hover {
						z-index: 700;
						&::after {
							transition: 0.3s all ease-in-out;
							border-right: 8px solid transparent;
							border-top: 15px solid #a62c32;
							border-left: 8px solid transparent;
							content: "";
						}

						ul.nav__wrapper {
							pointer-events: all;
							opacity: 1;
							transition: 1s all ease-in-out;
						}
						& ~ .background-submenu {
							opacity: 1 !important;
							pointer-events: all;
							transition: 0.3s all ease-in-out;
						}
					}
				}
			}
		}
		@media (max-width: 1024px) {
			width: 40%;
			display: unset;
			flex-wrap: unset;
			align-items: unset;
			flex-direction: unset;
			position: fixed;
			right: -100%;
			background: #fff;
			height: 100%;
			transition: 0.3s all ease-in-out;
			top: 70px;
			> li {
				padding: 10px;
				height: auto;
				border-bottom: 1px solid #a62c32;
				a {
					height: auto;
					justify-content: flex-start;
				}
			}
			&.show {
				right: 0;
				transition: 0.3s all ease-in-out;
			}
		}
	}
	@media (max-width: 1024px) {
		position: absolute;
		right: 0;
		top: 20px;
		border: unset;
	}
	// @media (max-width: 575.98px) {
	// 	position: relative;
	// 	top: unset;
	// 	right: unset;
	// 	.container-1190px {
	// 		display: flex;
	// 		justify-content: flex-end;
	// 	}
	// }
}

.background-submenu {
		position: absolute;
		top: 100%;
		left: 0;
		overflow: hidden;
		width: 100%;
		border-top: 2px solid #a62c32;
		background: #fff;
		height: 0px;
		pointer-events: none;
		opacity: 0;
		z-index: 500;
		transition: 0.3s all ease-in-out;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 270px;
			height: 105px;
			background: url("../assets/images/header/1x/after.png") no-repeat;
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: 388px;
			height: 130px;
			background: url("../assets/images/header/1x/before-bottom.png")
				no-repeat;
		}
		@media (max-width: 1024px) {
			display: none !important;
		}
}
.account-popup {
	overflow: visible !important;
	padding: 0;
	max-width: 814px;
	width: 100%;
	.pop-up-header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;
		background: #a62c32;
		h3 {
			font-size: 3.5rem;
			line-height: 4.2rem;
			text-align: center;
			color: #fff;
		}
	}
	.pop-up-body {
		position: relative;
		overflow: hidden;
		padding-top: 90px;
		padding-bottom: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		form {
			max-width: 543px;
			width: 100%;
			.form-group {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 40px !important;
				}
				input {
					border: 1px solid #888;
					border-radius: 5px;
					padding: 0 12px;
					width: 100%;
					height: 40px;
				}
			}
			.form-button {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 20px;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			pointer-events: none;
			left: 0;
			max-width: 270px;
			width: 100%;
			max-height: 105px;
			height: 100%;
			background: url("../assets/images/header/1x/after.png") no-repeat;
		}
		&::before {
			content: "";
			position: absolute;
			pointer-events: none;
			bottom: 0;
			right: 0;
			max-width: 388px;
			width: 100%;
			max-height: 130px;
			height: 100%;
			background: url("../assets/images/header/1x/before-bottom.png")
				no-repeat;
		}
	}
	.fancybox-button.fancybox-close-small {
		background: #a62c32;
		svg {
			background: #fff;
			path {
				fill: #000;
			}
		}
	}
}

#login {
	.pop-up-body {
		.bottom-ask {
			text-align: center;
			margin-bottom: 55px;
			p {
				font-family: Roboto-Light;
			}
			a {
				font-family: Roboto-Light;
				color: #a62c32;
				line-height: 2.7rem;
			}
		}
		.social {
			display: flex;
			flex-wrap: wrap;
			max-width: calc(100% - 400px);
			width: 100%;
			margin-left: -10px;
			margin-right: -10px;
			justify-content: space-between;
			> a {
				-ms-flex: 0 0 48%;
				flex: 0 0 48%;
				max-width: 48%;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}

#account {
	padding: 0;
	overflow: hidden;
	max-width: 580px;
	.fancybox-button.fancybox-close-small {
		display: none;
	}
	&.fancybox-content {
		background: none !important;
	}
	.btn-login {
		width: 100%;
		background: #fff;
		height: 83px;
		width: 100%;
		margin-bottom: 10px;
		transition: 0.3s all ease-in-out;
		a {
			width: 100%;
			transition: 0.3s all ease-in-out;
			height: 100%;
			font-size: 3.5rem;
			line-height: 4.2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #5d5d5d;
		}
		@media (min-width: 1025px) {
			&:hover {
				transition: 0.3s all ease-in-out;
				background: #a62c32;
				a {
					transition: 0.3s all ease-in-out;
					color: #fff;
				}
			}
		}
	}
}

.dropdown {
	width: 100%;
	position: relative;
	color: white;
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: bold;
	border-radius: 4px;
}
.dropdown__select {
	border-radius: inherit;
	&::after {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		background: red;
		width: 10px;
		height: 10px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid red;
	}
}
.dropdown__list {
	margin-top: 2.5rem;
	position: absolute;
	left: -15px;
	right: 0;
	display: none;
	z-index: 10;
	background: #000;
	width: 50px;
}

.dropdown:hover .dropdown__list {
	display: block;
}
.dropdown__select,
.dropdown__item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.dropdown__item {
	margin: 0 0 10px 0 !important;
	padding: 0 !important;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s linear;
	a {
		color: #fff !important;
	}
}
.dropdown__item:first-child {
	border-radius: 4px 4px 0 0;
	position: relative;
}
.custom-display {
	@media (max-width: 850px) {
		display: none;
	}
}

.navBar--lv1 {


	@media (max-width: 1024.98px) {
		position: fixed !important;
		overflow-y: scroll;
		height: 100vh !important;
		padding-top: 0 !important;
		z-index: 600 !important;
		display: unset !important;
		pointer-events: all !important;
		visibility: visible;
		opacity: 1;
		transition: .3s all ease-in-out;
		li {
			width: 100% !important;
		}

		&.show {
			right: 0;
			opacity: 1 !important;
		}
	}

	@media (max-width: 575.98px) {
		width: 100%;
	}
}