.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 0;
	appearance: none;
	cursor: pointer;
}

.btn-main {
	background: #a62c32;
	color: white;
	font-weight: 700;
	font-size: 13px;
	border-radius: 15px;
	height: 40px;
	width: 100%;
	&:hover {
		background: #5d5d55
	}
}

.btn-register {
	background: #a62c32;
	color: white;
	font-weight: 700;
	font-size: 13px;
	border-radius: 15px;
	height: 40px;
	width: 100%;
	&:hover {
		background: #5d5d55
	}
}
.btn__wrapper {
	text-align: center;
	.btn-readmore {
		width: 167px;
		height: 53px;
		background: #a62c32;
		border-radius: 25px;
		font-size: 2rem;
		color: #fff;
	}
}
.btn-google {
	padding: 0 10px;
	background: #DB4437;
	color: white;
	height: 40px;
	svg {
		margin-right: 10px;
	}
	span {
		font-size: 1.4rem;
		border-left: 1px solid white
	}
}

.btn-facebook {
	padding: 0 10px;
	background: #3C5A99;
	color: white;
	height: 40px;
	svg {
		margin-right: 10px;
	}
	span {
		font-size: 1.4rem;
		border-left: 1px solid white
	}
}

.btn-google,
.btn-facebook {
	justify-content: flex-start;
	border-radius: 5px;

	img {
		flex: 0 0 42px;
		max-width: 42px;
		height: 18px;
	}

	span {
		padding-left: 15px;
	}

	&:hover {
		color: white;
	}
}

.btn-buynow {
	height: 43px;
	background: #a62c32;
	font-size: 2.4rem;
	font-family: Roboto-Bold;
	line-height: 2.7rem;
	color: #fff;
	padding: 0 10px;
	@media (max-width: 1024px) {
		font-size: 1.5rem;
	}
}
.btn-cart  {
	height: 40px;
	font-size: 1.8rem;
	font-family: Roboto-Light;
	line-height: 2.7rem;
	padding: 0 35px;
	margin-left: 10px;
	background: #a62c32;
	color: #fff;
	a {
		color: #fff;
	}
	@media (max-width: 767.98px) {
		height: 25px;
		line-height: normal;
		padding: 0 10px !important;
	}
}
.fancybox-button.fancybox-close-small {
	padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
	opacity: 1 !important;
	svg {
		background: #000;
		border-radius: 50%;
		path {
			fill: #fff
		}
	}
	@media (max-width: 767.98px) {
		display: none !important;
	}
}
.fancybox-slide--html .fancybox-close-small {
	right: -17px !important;
	top: -17px !important;
}