section.ProDetail
	.container
		.container-1190px.detail__wrapper
			.detail__inner
				.detail__img
					.detail__mainImg
						img(src="", alt="")
						.youtube-api.d-none(data-url="https://www.youtube.com/watch?v=HOcl7DFqlI8")
					.detail__listImg
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									img.previews(src="./assets/images/product/pro.png", alt="" data-id)
								.swiper-slide
									img.previews(src="./assets/images/product/pro.png", alt="" data-id)
								.swiper-slide
									img.previews(src="./assets/images/product/pro.png", alt="",data-id="https://www.youtube.com/watch?v=HOcl7DFqlI8")
				.detail__info