section.ProDetail
	.container
		.container-1190px.detail__wrapper
			.detail__inner
				.detail__img
					.detail__mainImg
						img(src="", alt="")
						.youtube-api.d-n(data-url="https://www.youtube.com/watch?v=rwgxfrYixe0")
					.detail__listImg
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									img.previews(src="./assets/images/product/pro.png", alt="" data-id)
								.swiper-slide
									img.previews(src="./assets/images/product/pro.png", alt="" data-id)
								.swiper-slide
									img.previews(src="./assets/images/product/pro.png", alt="video",data-id="rwgxfrYixe0")
				.detail__info
					.deInfo__social
						.social__item.chat
							h4 Chat
						.social__item
							a(href="")
								img.svg(src="./assets/images/product/mess.svg", alt="")
						.social__item
							a(href="")
								img.svg(src="./assets/images/product/face.svg", alt="")
						.social__item
							a(href="")
								img(src="./assets/images/product/g.png", alt="")
					.deInfo__content
						h2 YẾN SÀO CAO CẤP
						h4 SLH2AK13885.200
						.price__detail
							h3.old Giá cũ:
								span 900000 VNĐ/hộp
							h3.new-x Giá mới: 
								span 900000 VNĐ/hộp
							h3.new(data-sale="75000",data-txt="VNĐ/hộp") Giá: 
								span 900000 VNĐ/hộp
						.content__info
							h3 Dung tích:  Một hộp 6 lon
							h3 Lon 190ml
						.content__action
							.action__item
								.content
									.icon
										img.svg(src="./assets/images/product/cart.svg", alt="")
									.txt.add-cart(data-pid="11223344" data-propertyid="11223344" data-url="/them-vao-gio-hang")
										h4 Mua Ngay
							.action__item
								.content.active
									.icon
										img.svg(src="./assets/images/product/heart.svg", alt="")
									.txt
										h4 THÍCH
				.deInfo__desc
					.desc__item
						h3 Công dụng:
						.item__content
							ul
								li - Tổ yến 1%, đường phèn và nước
								li - Không chất bảo quản, màu nhân tạo. 
								li - Sản phẩm đặc biệt tốt cho nữ giới trong việc gìn giữ sắc xuân và chăm sóc sức khỏe
					.desc__item
						h3 Thành phần:
						.item__content
							ul
								li - Tổ yến 1%, đường phèn và nước
								li - Không chất bảo quản, màu nhân tạo. 
								li - Sản phẩm đặc biệt tốt cho nữ giới trong việc gìn giữ sắc xuân và chăm sóc sức khỏe
					.desc__item
						h3 Hướng dẫn sử dụng:
						.item__content
							ul
								li - Tổ yến 1%, đường phèn và nước
								li - Không chất bảo quản, màu nhân tạo. 
								li - Sản phẩm đặc biệt tốt cho nữ giới trong việc gìn giữ sắc xuân và chăm sóc sức khỏe
				.deInfo__comment
					.cmt__dash
						.cmt__qty
							p 2 bình luận
						.cmt__time
							a(href="/old") Cũ nhất
							a(href="/news").active Mới nhất
					.cmt__form
						.cmt__img
							img(src="", alt="")
						.cmt__input
							input(type="text" placeholder="Comment . . ")
					.cmt__list
						.cmt__item
							.cmt__img
								img(src="", alt="")
							.cmt__content
								p Sản phẩm rất tốt <3 <3 <3
								p 25 Tháng 4 lúc 23:25
section.Related
	.container
		.container-1190px
			.seemore.customer
					h3 SẢN PHẨM CÙNG LOẠI
					.product__wrapper.text-center
						.swiper-container
							.swiper-wrapper
								-for(var i = 0; i < 7; i++)
									.swiper-slide
										a(href="#").card
											.card-body
												.img
													img.lazyload-blur-up(src="./assets/images/home/product-item.png", alt="")
												.desc
													p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer elit... 
												.price
													p.price 20.000.000 VNĐ/hộp
													p.sale-price 20.000.000 VNĐ/hộp
											.card-footer.btn
												p ADD TO CART
						.swiper-button-prev
						.swiper-button-next