section.ProDetail
	.container
		.container-1175px.detail__wrapper
			.detail__inner
				.detail__img
					.detail__mainImg
						img(src="", alt="")
					.detail__listImg
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									img(src="/assets/images/product/pro.png", alt="")
				.detail__info