section.cart-page.cart-list-page
	.container
		.container-1190px
			.cart__wrapper
				h3.title GIỎ HÀNG CỦA TÔI
				.cart--table
					table
						thead
							tr
								th SẢN PHẨM
								th ĐƠN GIÁ
								th SỐ LƯỢNG
								th TỔNG GIÁ
						tbody
							-for(var i =0; i < 3; i++)
								tr
									td(data-title="SẢN PHẨM").product 
										.close.remove-cart(type='button' value='Xóa' data-pid="11223344" data-propertyid="11223344" data-url="/xoa-khoi-gio-hang")
										.table-content
											.img
												img.object-cover.fullsize(src="./assets/images/love/love-item.png", alt="item")
											.desc
												.state
													p.lcl.lcl-1 Yến sào cao cấp
												.state
													img.lazyload.blur-up(src="./assets/images/love/check-cart.png", alt="check")
													p Còn Hàng
												.state
													img.lazyload.blup-up(src="./assets/images/love/love.png", alt="love")
													p Yêu Thích
											
									td(data-title="GIÁ").price
										.table-content
											p 900.000 VNĐ
									td(data-title="SỐ LƯỢNG").num
										.table-content
											.quantity-input
												span.minus.downQuantity(data-pid="11223344" data-propertyid="11223344" data-url-update="/cap-nhat-gio-hang") -
												input.quantity(value="5" readonly)
												span.plus.upQuantity(data-pid="11223344" data-propertyid="11223344" data-url-update="/cap-nhat-gio-hang") +
									td(data-title="TỔNG GIÁ").total
										.table-content
											p 900.000 VNĐ
							tr.tempprice
								td.wishlist
									a(href="javascript:;", data-fancybox, data-options="{'touch' : false}", data-src="#wishlist") + Thêm sản phẩm từ danh sách yêu thích
								td
									p Tạm tính
								td(colspan=2)
									p 2.700.000 VNĐ
							tr.total
								td(colspan=4)
									.table-content
										.desc-total
											strong Tổng Tiền
											p (Tổng số tiền thanh toán)
										.price-total
											p 2.700.000 VNĐ
			.cart-func
				button.btn.btn-cart
					a(href="") TIẾP TỤC MUA HÀNG
				button.btn.btn-cart XÓA GIỎ HÀNG
				button.btn.btn-cart
					a(href="") TIẾN HÀNH THANH TOÁN
			.seemore
				h3 Sản Phẩm Khác
				.product__wrapper.text-center
					.swiper-container
						.swiper-wrapper
							-for(var i = 0; i < 7; i++)
								.swiper-slide
									a(href="#").card
										.card-body
											.img
												img(src="./assets/images/home/product-item.png", alt="")
											.desc
												p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer elit... 
											.price
												p.price 20.000.000 VNĐ/hộp
												p.sale-price 20.000.000 VNĐ/hộp
										.card-footer.btn
											p ADD TO CART
					.swiper-button-prev
					.swiper-button-next
	.d-none
		#wishlist
			.pop-up__wrapper
				.pop-up__header
					img.lazyload.blur-up(src="./assets/images/love/love.png", alt="love")
					h3 DANH SÁCH YÊU THÍCH
				.pop-up__body
					-for(var i=0;i< 3; i++)
						.wrapper.row
							.img.col-2
								img.lazyload.blur-up.object-cover(src="./assets/images/love/love-item.png", alt="love")
							.desc.col-6
								p Yến sào cao cấp
								p 900.000 VNĐ
							.add-to-cart.col-4
								button.btn.btn-cart THÊM VÀO GIỎ