section.Contact
	.container
		.container-1190px
			.contact__wrapper
				.contact__form
					h2 Liên Hệ
					.form
						form(action="#")
							input#contact__recaptcha(name="g-recaptcha-response" hidden)
							.form__group
								input(type="text" placeholder="Your Name*")
							.form__group
								input(type="text" placeholder="Your Email*")
							.form__group
								input(type="text" placeholder="Your Phone*")
							.form__group
								textarea(name="msg", cols="30", rows="5" placeholder="Your Message")
							.btn__submit--contact(data-url="/contact")
								h3 SEND
				.contact__content
					p
						|
						span Address: 
						| Lầu 8, Tòa nhà SAMCO, 326 Võ Văn Kiệt, Phường Cô Giang, Quận 1, TP.HCM. 
					p
						|
						span Email: 
						| info@vanphongquan1.com  
					p
						|
						span Fax: 
						| 0979771188
	.contact__map
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.97797404885512!2d106.69580957754465!3d10.761620132571371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8b46c4a713086302!2sSAMCO%20Building%20-%20Managed%20by%20SAVISTA!5e0!3m2!1svi!2s!4v1598586850645!5m2!1svi!2s" width="100%" height="1200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>