section.Contact
	.container
		.container-1190px
			.contact__wrapper
				.contact__form
					h2 Liên Hệ
					.form
						form(action="#")
							input#contact__recaptcha(name="g-recaptcha-response" hidden)
							.form__group
								input(type="text" placeholder="Your Name*")
							.form__group
								input(type="text" placeholder="Your Email*")
							.form__group
								input(type="text" placeholder="Your Phone*")
							.form__group
								textarea(name="msg", cols="30", rows="5" placeholder="Your Message")
							.btn__submit--contact(data-url="/contact")
								h3 SEND
				.contact__content
					p
						|
						span Address: 
						| Lầu 8, Tòa nhà SAMCO, 326 Võ Văn Kiệt, Phường Cô Giang, Quận 1, TP.HCM. 
					p
						|
						span Email: 
						| info@vanphongquan1.com  
					p
						|
						span Fax: 
						| 0979771188
	.contact__map
		#map.map
	.introMap__list.d-none
		ul
			li.introMap__item(data-lat="10.7616164", data-lng="106.6935863")
				h6 Lorem ipsum dolor sit ame
				.item__info
					.info__icon
						img(src="./assets/images/intro/home.png", alt="home")
					.info__text.location
						p Lầu 8, Tòa nhà SAMCO, 32 Võ Văn Kiệt, Phường Cô Giang, Quận 3, TP.HCM.
				.item__info
					.info__icon
						img(src="./assets/images/intro/phone.png", alt="phone")
					.info__text.phone
						p (08) 2365 1254 - (08) 6582 3254