section.Contact
	.container
		.container-1190px
			.contact__wrapper
				.contact__form
					h2 Liên Hệ
					.form
						form(action="#")
							input#contact__recaptcha(name="g-recaptcha-response" hidden)
							.form__group
								input(type="text" placeholder="Your Name*")
							.form__group
								input(type="text" placeholder="Your Email*")
							.form__group
								input(type="text" placeholder="Your Phone*")
							.form__group
								textarea(name="msg", cols="30", rows="5" placeholder="Your Message")
							.btn__submit--contact(data-url="/contact")
								h3 SEND
				.contact__content
					p
						|
						span Address: 
						| Lầu 8, Tòa nhà SAMCO, 326 Võ Văn Kiệt, Phường Cô Giang, Quận 1, TP.HCM. 
					p
						|
						span Email: 
						| info@vanphongquan1.com  
					p
						|
						span Fax: 
						| 0979771188
	.contact__map
		#map.map