section.Product
	.container
		.product__wrapper.container-1175px
			h2 Sản phẩm
			.product__filter
				.proFilter__item
				.proFilter__item
				.proFilter__item
			.product__list
				//- -for(var i =0; i<12;i++)
				.product__item
					.proItem__img
					.proItem__desc
					.proItem__price
					.proItem__cart