section.Product
	.container
		.product__wrapper.container-1175px
			h2 Sản phẩm
			form.product__filter
				.proFilter__item.style
					label(for="price") Loại mặt hàng:
					select(name="catalog")
						option(value="1") Tổ Yên Thô
				.proFilter__item.price
					label(for="price") Sắp xếp theo:
					select(name="price")
						option(value="1") Giá thấp đến cao
						option(value="2") Giá cao đến thấp
				.proFilter__item.range
					label(for="price" data-current="vnđ") Giá:
						span.priceLow__range 2000
						span  -  
						span.priceHigh__range 20000
					.range__inner
						.priceLow
							span#low 2000
						.sliderPrice
							#rangeProduct
						.priceHigh
							span#high 20000
				.proFilter__item.submit
					#filter Tìm
			.product__list
				-for(var i =0; i<11;i++)
					.product__item
						a(href="product-detail.html").proItem__inner
							.proItem__img.overflow-hidden
								img(src="./assets/images/product/pro.png", alt="product")
							.proItem__desc
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit pariatur quos quae omnis eos explicabo, quia in doloremque excepturi dolorum veritatis voluptate eum doloribus. Vel voluptatibus harum ea impedit ut!
							.proItem__price
								h4.sale 20000000
								h4(data-sale="",data-txt="VNĐ/hộp") #{i}0000 
							.proItem__cart.add-cart(data-pid="11223344" data-propertyid="11223344" data-url="/them-vao-gio-hang")
								h3 add to cart
				.product__item
					a(href="product-detail.html").proItem__inner
						.proItem__img.overflow-hidden
							img(src="./assets/images/product/pro.png", alt="product")
						.proItem__desc
							p Lorem ipsum dolor sit
						.proItem__price
							h4.sale 0 
							h4(data-sale="15000",data-txt="VNĐ/hộp") 20000
						.proItem__cart
							h3 add to cart
			.productGetAll(data-url="/product")
				.get xem thêm (
					|
					span 456
					|   sản phẩm)