section.Guide
	.container
		.container-1190px.guide__wrapper
			h2 HỎI ĐÁP
			h6 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. 
			.guide__ques
				h3 ĐẶT CÂU HỎI
			.guide__form
				form(action="#")
					input(type="text" hidden)
					.guide__input
						input(type="text" name="name" placeholder="Full name*")
					.guide__input
						input(type="text" name="email" placeholder="Email*")
					.guide__input
						input(type="text" name="name" placeholder="Telephone*")
					.guide__input
						textarea(name="question", cols="30", rows="10" placeholder="Message*")
					.btn__submit--guide(data-url="/question")
						h4 GỬI
			.guide__list
				-for(var i =1;i<5;i++)
					.guide__item
						.guide__stt
							h2 0#{i}
						.guide__content
							h5 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem ?
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem ?Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem ?
			.guide__btn--more
				h3 See More