footer
	.container
		.container-1190px
			.footer__content
				.footer__about
					h3.text-uppercase About Us
					.img
						img(src="./assets/images/footer/logo-footer.png", alt="")
					.address
						p Lầu 8, Tòa nhà SAMCO, 326 Võ Văn Kiệt, Phường Cô Giang, Quận 1, TP.HCM.
				.footer__menu
					h3.text-uppercase Menu
					ul
						li
							a(href="#").text-uppercase Giới Thiệu
						li
							a(href="#").text-uppercase Sản Phẩm
						li
							a(href="#").text-uppercase Khuyến mãi
						li
							a(href="#").text-uppercase Tin tức
						li
							a(href="#").text-uppercase Hướng dẫn
						li
							a(href="#").text-uppercase Liên Hệ
				.footer__subscribe
					h3.text-uppercase Subscribe
					p Lorem ipsum dolor sit amet your email oke oke
					form
						input(type="email" ,name="subcribe" placeholder="Your Email").btn.subscribe--input
						button(data-url="").btn.btn--sendus
							span SEND US
					.social
						.right
							img(src="./assets/images/footer/subscibe-logo.png", alt="Ministry")
						.left
							a(href="")
								img(src="./assets/images/footer/face.png", alt="Ministry")
							a(href="")
								img(src="./assets/images/footer/youtube.png", alt="Ministry")
							a(href="")
								img(src="./assets/images/footer/twiter.png", alt="Ministry")
							a(href="")
								img(src="./assets/images/footer/google.png", alt="Ministry")
					.copyright
						p © Design by Web4gsolutions

