header
	.header__nav--top
		.container
			.container-1190px
				.wrapper__utilities
					.left
						ul.language
							li.desktop.languages__item.item(data-language="vi")
								a(href="#") VN
							li.desktop.languages__item.item(data-language="cn")
								a(href="#") CN
							li.desktop.languages__item.item(data-language="en")
								a(href="#") EN
							li.mobile
								.dropdown
									.dropdown__select
										span.dropdown__selected VN
									ul.dropdown__list.language
										li.dropdown__item.languages__item.item(data-language="vi")
											a(href="#") VN
										li.dropdown__item.languages__item.item(data-language="cn")
											a(href="#") CN
										li.dropdown__item.languages__item.item(data-language="en")
											a(href="#") EN
							li
								form
									.form-input
										input(type="text", name="lookup")
									.sumit
										button.btn(data-url="qwe")
											img.svg(src="./assets/images/header/SVG/lookup.svg", alt="find")
					.right
						.right__wrapper
							.account-item(data-login="false" , id="")
								div
									img.lazyload.blur-up.svg(src="./assets/images/header/SVG/register.svg", alt="login")
									span.custom-display TÀI KHOẢN
								.account-box
									a(href="javascript:;" data-fancybox, data-src="#login").btn.btn-main Đăng nhập 
									a(href="javascript:;" data-fancybox, data-src="#register").btn.btn-register Đăng ký 
							.check 
								a(href="javascript:;")
									img.lazyload.blur-up.svg(src="./assets/images/header/SVG/checklist.svg", alt="check")
									span.custom-display KIỂM TRA ĐƠN HÀNG
							.cart 
								a(href="cart.html")
									img.lazyload.blur-up.svg(src="./assets/images/header/SVG/cart.svg", alt="cart")
									span.cart-num 1
									span.custom-display CART
		.d-none
			#login.account-popup
				.popup-wrapper
					.pop-up-header
						h3 ĐĂNG NHẬP
					.pop-up-body
						form#login-form
							.form-group
								input(name="username",type="text" placeholder="Điện thoại/Email")
							.form-group
								input(name="password",type="password" placeholder="Mật khẩu")
							.form-button.btn__wrapper
								button.btn.btn-readmore(data-url="../api/test.json") ĐĂNG NHẬP
						.bottom-ask
							p Chưa có tài khoản? 
								a(href="javascript:;", data-fancybox, data-src="") Đăng ký ngay
						.social
							a.btn.btn-google(data-api="google",href="javascript:;")
								img.lazyload.blur-up.svg(src="./assets/icons/icon-google-plus.svg", alt="icon google plus")
								span Đăng ký qua Google
							a.btn.btn-facebook(href="javascript:;", data-api="facebook")
								img.lazyload.blur-up.svg(src="./assets/icons/icon-facebook-2.svg", alt="icon facebook")
								span Đăng ký qua Facebook
			#register.account-popup
				.popup-wrapper
					.pop-up-header
						h3 ĐĂNG KÍ
					.pop-up-body
						form
							.form-group
								input(name="name",type="text" placeholder="Họ & Tên")
							.form-group
								input(name="phone",type="numbber" placeholder="Phone")
							.form-group
								input(name="username",type="text" placeholder="Tên Người Dùng")
							.form-group
								input(name="email",type="email" placeholder="Email")
							.form-group
								input(name="password",type="password" placeholder="Mật Khẩu")
							.form-group
								input(name="confirm-password",type="password" placeholder="Xác Nhận Mật Khẩu")
							.form-button.btn__wrapper
								button.btn.btn-readmore(data-url="../api/test.json") ĐĂNG KÍ
			#account.login-pop-up
				.popup-wrapper
					.btn.btn-login
						a(href="love-list.html") DANH SÁCH YÊU THÍCH  
					.btn.btn-login
						a(href="account-manage.html") QUẢN LÍ TÀI KHOẢN
					.btn.btn-login
						a(href="") ĐĂNG XUẤT
	.header__logo
		.container
			.container-1190px
				a(href="index.html").img
					img.lazyload.blur-up.desktop(src="./assets/images/header/SVG/Logo.png", alt="Khang Minh")
					img.lazyload.blur-up.mobile(src="./assets/images/header/SVG/mobile-logo.png", alt="Khang Minh")
	.header__nav--bottom
		.container
			.container-1190px
				ul.nav__wrapper(data-btn-back-content="Trở về")
					li
						a(href="index.html").text-uppercase Trang Chủ
					li
						a(href="javascript:;").text-uppercase Giới thiệu
						ul.nav__wrapper
							li
								a(href="introduce.html") Welcome to Khang Minh
							li
								a(href="price-tittle.html") Danh hiệu Giải thưởng
							li
								a(href="partner.html") Đối tác
							li
								a(href="system-divider.html") Hệ thống phân phối
							li
								a(href="gallery.html") Hình ảnh & Video
					li
						a(href="product.html").text-uppercase Sản Phẩm
					li
						a(href="javascript:;").text-uppercase Khuyến mãi
					li
						a(href="javascript:;").text-uppercase Tin tức
						ul.nav__wrapper
							li
								a(href="javascript:;").active Công dụng
							li
								a(href="javascript:;") Cách chế biến
							li
								a(href="javascript:;") Món ăn với tổ yến
							li
								a(href="news.html") Tin tức Khang Minh
					li
						a(href="javascript:;").text-uppercase Hướng dẫn
						ul.nav__wrapper
							li
								a(href=" guide.html") Hướng dẫn text
							li
								a(href="guide-txt.html") Hướng dẫn form
					li
						a(href="contact.html").text-uppercase Liên hệ
					div.background-submenu
				.hamburger_menu.menu
					span