header
	.header__nav--top
		.container
			.container-1190px
				.wrapper__utilities
					.left
						ul
							li
								a(href="#") VN
							li
								a(href="#") CN
							li.active
								a(href="#") EN
							li
								.form-input
									input(type="text")
								.sumit
									button.btn
										img.svg(src="./assets/images/header/SVG/lookup.svg", alt="find")
					.right
						ul
							li 
								a(href="")
									img.svg(src="./assets/images/header/SVG/login.svg", alt="login")
									span LOGIN
							li 
								a(href="")
									img.svg(src="./assets/images/header/SVG/checklist.svg", alt="check")
									span KIỂM TRA ĐƠN HÀNG
							li 
								a(href="")
									img.svg(src="./assets/images/header/SVG/cart.svg", alt="cart")
									span.cart-num 1
									span CART
	.header__logo
		a(href="index.html").img
			img(src="./assets/images/header/SVG/Logo.png", alt="Khang Minh")
	.header__nav--bottom
			.container
				.container-1190px
					ul.nav__wrapper
						li
							a(href="index.html").text-uppercase Trang Chủ
						li
							a(href="javascript:;").text-uppercase Giới thiệu
							.subnav
								.subnav__wrapper--link
									.subnav-link
										a(href="introduce.html").active Welcome to Khang Minh
									.subnav-link
										a(href="intro-2.html") Danh hiệu Giải thưởng
									.subnav-link
										a(href="intro-3.html") Đối tác
									.subnav-link
										a(href="intro-4.html") Hệ thống phân phối
									.subnav-link
										a(href="intro-5.html") Hình ảnh & Video
						li
							a(href="#").text-uppercase Sản Phẩm
							
						li
							a(href="#").text-uppercase Khuyến mãi
						li
							a(href="javascript:;").text-uppercase Tin tức
							.subnav
								.subnav__wrapper--link
									.subnav-link
										a(href="#").active Công dụng
									.subnav-link
										a(href="#") Cách chế biến
									.subnav-link
										a(href="#") Món ăn với tổ yến
									.subnav-link
										a(href="news.html") Tin tức Khang Minh
						li
							a(href="#").text-uppercase Hướng dẫn
						li
							a(href="#").text-uppercase Liên hệ
						.subnav__wrapper
