section.partner
	.container.h-100
		.container-1190px.h-100
			.swiper-container.h-100
				.swiper-wrapper.h-100
					-for(var i =0; i < 4; i++)
						.swiper-slide.h-100
							.img
								img(src=`../assets/images/footer/logo-${i + 1}.png`, alt="logo")