// SLIDER INIT WHEN #js-page-verify have class "index-page"
section.MainSlider__Banners
	.swiper-container
		.swiper-wrapper
			// ADD MORE IMAGE ALL THIS SECITON
			.swiper-slide
				a.main_banner__link(href="#")
					// image-size: 1920x965 (index)
					// image-size: 1920x665px (subpage)
					.main_banner__img.ov-h
						img.object-cover.fullsize(src=`./assets/images/banner/mainbanner.png`, alt="BANNER")
			.swiper-slide
				a.main_banner__link(href="#")
					// image-size: 1920x965 (index)
					// image-size: 1920x665px (subpage)
					.main_banner__img.ov-h
						img.object-cover.fullsize(src=`./assets/images/banner/mainbanner.png`, alt="BANNER")
			.swiper-slide
				a.main_banner__link(href="#")
					// image-size: 1920x965 (index)
					// image-size: 1920x665px (subpage)
					.main_banner__img.ov-h
						img.object-cover.fullsize(src=`./assets/images/banner/mainbanner.png`, alt="BANNER")
		.swiper-pagination
