.account-manage {
	margin-bottom: 120px;
	margin-top: 120px;
}
.account-manage__wrapper {
	width: 100%;
	.card-header {
		height: 50px;
		width: 100%;
		background: #eaeaea;
		padding: 0 50px;
		display: flex;
		align-items: center;
	}
	.card-body {
		border: 1px solid #eaeaea;
		border-top: none;
		.info {
			border: 1px solid #eaeaea;
			border-top: none;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;
			> div {
				border: 1px solid #eaeaea;
				border-top: none;
				border-bottom: none;
				-ms-flex: 0 0 33.33%;
				flex: 0 0 33.33%;
				max-width: 33.33%;
				align-self: center;
				padding: 10px 40px;
				p {
					&:first-child {
						margin-bottom: 35px;
					}
				}
			}
			@media (max-width: 767.98px) {
				> div {
					border-bottom: 1px solid #eaeaea;
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
					p {
						&:first-child {
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
}
.form-account {
	max-width: 600px;
	margin: 50px auto;
	transition: 1s all ease-in-out;
	.form-group {
		display: none;
		.check-wrapper {
			display: flex;
			align-self: center;
			.form-check {
				&:first-child {
					padding-right: 40px;
				}
			}
		}
		label {
			align-self: center;
		}
		input {
			width: 100%;
			height: 100%;
			border: 1px dashed #eaeaea;
			&::-webkit-inner-spin-button {
				opacity: 0 !important;
			}
		}
		select {
			width: 100%;
			height: 100%;
			border: 1px dashed #eaeaea;
			color: #5d5d5d;
		}
		input[type="checkbox"],
		input[type="radio"] {
			width: unset;
			position: relative;
			height: unset;
			border: unset;
			appearance: auto !important;
			&:checked::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background: #304776;
				border-radius: 50%;
				pointer-events: none;
				top: 0;
				left: 0;
			}
			&:checked::after {
				content: "";
				position: absolute;
				width: 14px;
				height: 14px;
				background: url("../assets/images/love/checkmark.png") no-repeat;
				background-size: contain;
				pointer-events: none;
				// top: 50%;
				top: 0;
				// left: 50%;
				// transform: translate(-50% , -50%);
			}
		}
		height: 60px;
		margin-bottom: 10px;
	}
	.form-button {
		display: flex;
		justify-content: flex-end;
		button {
			height: 40px;
			font-size: 2.4rem;
			font-family: Roboto-Bold;
			line-height: 2.7rem;
			color: #fff;
			padding: 0 35px;
			margin-left: 10px;
			&:first-child {
				background: #000;
			}
			&:last-child {
				background: #a62c32;
			}
		}
	}
}
