
.cart-page {
	margin-top: 100px;
	margin-bottom: 100px;
	font-family: Roboto-Light;
	@media (max-width: 1024px) {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	h3.title {
		color: #000;
		font-size: 2.5rem;
		font-family: RobotoC-Regular;
		line-height: 3rem;
		margin-bottom: 20px;
	}
	td {
		border-right: 1px solid #5d5d5d;
		border-left: 1px solid #5d5d5d;
		border-bottom:1px dashed #5d5d5d !important;
	}
	th {
		border: 1px solid #5d5d5d;
	}
	.cart--table {
		margin-bottom: 20px;
			// @media (max-width: 767.98px) {
			// 	overflow-x: auto;
			// 	table {
			// 	width: 768px;
			// 	.product {
			// 		.table-content {
			// 			margin-left: 0;
			// 		}
			// 	}
			// 	th {
			// 		height: 35px;
			// 	}
			// 	.table-content {
			// 		padding-top: 0 !important;
			// 		padding-bottom: 0 !important;
			// 	}
			// 	.tempprice {
			// 		height: 45px;
			// 	}
			// 	}
			// }
			@media (max-width: 767.98px) {
				table {
					thead {
						display: none;
					}
					tbody {
						.product {
							.close {
								top: 10px;
								background: #5d5d5d;
								right: 18px;
								left: unset;
								z-index: 10;
							}
						}
						td {
							display: flex;
							position: relative;
							align-items: center;
							min-height: 30px;
							.table-content {
								margin-left: 0;
								width: 100%;
								.img {
									-ms-flex: 0 0 50%;
									flex: 0 0 50%;
									max-width: 50%;
									img {
										max-width: 150px;
										max-height: 150px;
									}
								}
								.desc {
									-ms-flex: 0 0 50%;
									flex: 0 0 50%;
									max-width: 50%;
									padding-left: 10px;
								}
							}
							&:nth-child(1) {
								padding-top: 30px;
								&::after {
									display: flex;
									align-items: center;
									justify-content: center;
									width: 100%;
									position: absolute;
									background: #eaeaea;
									height: 30px;
									top: 0;
									content: attr(data-title);
								}
								
							}
							&:nth-child(2) {
								.table-content {
									-ms-flex: 0 0 50%;
									flex: 0 0 50%;
									max-width: 50%;
									text-align: left;
									padding-left: 10px;

								}
								&::before {
									-ms-flex: 0 0 50%;
									text-align: center;
									flex: 0 0 50%;
									max-width: 50%;
									content: attr(data-title);
								}
								
							}
							&:nth-child(3) {
								.table-content {
									-ms-flex: 0 0 50%;
									flex: 0 0 50%;
									max-width: 50%;
									text-align: center;
									.quantity-input {
										margin: 0 !important;
									}
								}
								&::before {
									-ms-flex: 0 0 50%;
									text-align: center;
									flex: 0 0 50%;
									max-width: 50%;
									content: attr(data-title);
								}
								
							}
							&:nth-child(4) {
								margin-bottom: 10px;
								.table-content {
									padding-left: 10px;
									-ms-flex: 0 0 50%;
									flex: 0 0 50%;
									max-width: 50%;
								}
								&::before {
									-ms-flex: 0 0 50%;
									text-align: center;
									flex: 0 0 50%;
									max-width: 50%;
									content: attr(data-title);
								}
								
							}
						}
						.tempprice {
							background: #eaeaea;
							display: flex;
							flex-wrap: wrap;
							align-items: center;
							border: none !important;
							.wishlist {
								border: none !important;
								padding-top: 0;
								margin: 10px 0;
								
							}
							td {
								border: none;
								display: unset;
								align-self: center;
								&::after {
									content: none !important;
								}
								&::before {
									content: none !important;
								}
								&:first-child {
									-ms-flex: 0 0 100%;
									flex: 0 0 100%;
									max-width: 100%;
								}
								&:not(:first-child) {
									background: #eaeaea;
									-ms-flex: 0 0 50%;
									flex: 0 0 50%;
									max-width: 50%;
									height: 30px;
									margin-bottom: 0;
									border-top: 1px dashed #5d5d5d;
								}
							}
						}
						.total {
							background: #eaeaea;
							td {
								margin-bottom: 0;
								border: none;
								padding-top: 0;
								&::after {
									content: none;
								}
								&::before {
									content: none !important;
								}
							}
							.table-content {
								display: flex;
								> div {
									margin-right: 0;
									-ms-flex: 0 0 50%;
									flex: 0 0 50%;
									max-width: 50%;
									strong {
										text-align: center;
									}
									p {
										text-align: center;
									}
									&.price-total {
										p {
											text-align: right;
										}
									}
								}
							}
						}
					}
				}
			}
	}
	table {
		font-size: 1.8rem;
		width: 100%;
		text-align: center;
		th {
			height: 56px;
			background: #eaeaea;
			text-align: center;
			font-family: Roboto-Bold;
			&:not(:first-child) {
				width: 15%;
				max-width: 15%;
				@media (max-width: 767.98px) {
					width: 20%;
					max-width: 20%;
				}
			}
		}
		tr {
			.product {
				position: relative;
				.close {
					cursor: pointer;
					position: absolute;
					transition: 1s all ease-in-out;
					width: 15px;
					height: 15px;
					background: #eaeaea;
					border-radius: 50%;
					top: 18px;
					left: 18px;
					&::after {
						content: "";
						position: absolute;
						width: 7px;
						height: 7px;
						background: url("../assets/images/love/close.png") no-repeat;
						border-radius: 50%;
						top:50%;
						left:50%;
						transform: translate(-50% , -50%);
					}
				}
			
				.table-content {
					display: flex;
					align-items: center;
					margin-left: 40px;
					padding-top: 20px;
					padding-bottom: 20px;
					.img {
						-ms-flex: 0 0 30%;
						flex: 0 0 30%;
						max-width: 30%;
					}
					.desc {
						-ms-flex: 0 0 70%;
						flex: 0 0 70%;
						max-width: 70%;
						padding-left: 40px;
					}
					.state {
						display: flex;
						margin-bottom: 10px;
						p {
							padding-left: 20px;
							&:first-child {
								padding-left: 0;
							}
						}
						svg {
							width: 23px !important;
							height: 20px !important;
						}
					}
				}	
			}
			.price {
				text-align: center;
			}
			.total {
				text-align: center;
			}
			.num {
				.quantity-input {
					display: flex;
					width: 90px;
					margin: 0 auto;
					.minus,
					.quantity,
					.plus {
						color: #888888;
						cursor: pointer;
						flex: 0 0 30px;
						max-width: 30px;
						height: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						text-align: center;
						border: 0;
						font-size: 16px;
						user-select: none;
					}
				
					.minus,
					.plus {
						font-size: 20px;
					}
				}
			}
			@media (min-width: 1025px) {
				&:hover {
					.close {
						transition: 1s all ease-in-out;
						background: #5d5d5d;
					}
				}
			}
		}
		.tempprice {
			height: 78px;
			a {
				font-size: 1.8rem;
				font-family: Roboto-Light;
				color: #a62c32;
			}
			td:first-child {
				text-align: left;
			}
			td:last-child {
				text-align: right !important;
				padding-right: 20px;
			}
		}
		tr:last-child {
			text-align: right;
			height: 82px;
			td {
				border-bottom: 1px solid #5d5d5d !important;
			}
			.table-content {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-right: 20px;
				.desc-total {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					font-size: 1.8rem;
					margin-right: 120px;
					strong {
						text-align: left;
						font-family: Din-Bold;
					}
				}
				.price-total {
					color: #a62c32;
					font-family: RobotoC-Regular;
					font-size: 2.5rem;
				}
			}
			@media (max-width: 767.98px) {
				height: 60px;
			}
		}
	}
	.cart-func {
		width: 100%;
		height: 84px;
		background: #eaeaea;
		display: flex;
		padding: 0 20px;
		align-items: center;
		margin-bottom: 100px;
		.btn-cart  {
			&:first-child {
				background: #fff;
				a {
					color: #000;
				}
			}
			&:last-child {
				margin-left: auto;
				@media (max-width: 767.98px) {
				margin-left: 10px;
				}
			}
			@media (max-width: 767.98px) {
				font-size: 1.3rem;
			}
			@media (max-width: 575.98px) {
				font-size: 1rem;
			}
		}
		@media (max-width: 1024px) {
			margin-bottom: 30px;
		}
		@media (max-width: 767.98px) {
			height: 50px;
		}
	}
	.seemore {
		h3 {
			font-family: Roboto-Regular;
			font-size: 1.8rem;
			font-weight: 400;
		}
	}
}
#wishlist {
	padding: 0;
	max-width: 865px;
	width: 100%;
	overflow: visible !important;
	.pop-up__header {
		// height: 55px;
		display: flex;
		align-items: center;
		padding: 20px;
		border-bottom: 1px solid #5d5d5d;
		img {
			margin-right: 20px;
		}
	}
	.pop-up__body {
		.wrapper {
			padding: 30px 0;
			margin-right: 30px;
			margin-left: 30px;
			border-bottom: 1px dashed #5d5d5d;
			> div {
				align-self: center;
			}
			.desc {
				p:first-child {
					margin-bottom: 15px;
					font-family: Roboto-Light;
					font-size: 1.8rem;
				}
				p:last-child {
					font-family: Din-Bold;
					font-size: 1.8rem;
				}
			}
			.add-to-cart {
				button {
					font-size: 1.8rem;
					font-family: RobotoC-Regular;
				}
			}
		}
	}
	@media (max-width: 575.98px) {
		.img {
			-ms-flex: 0 0 33.33%;
			flex: 0 0 33.33%;
			max-width: 33.33%;
		}	
		.desc {
			-ms-flex: 0 0 33.33%;
			flex: 0 0 33.33%;
			max-width: 33.33%;
			p {
				font-size: 1.3rem !important; 
			}
		}
		.add-to-cart {
			-ms-flex: 0 0 33.33%;
			flex: 0 0 33.33%;
			max-width: 33.33%;
			button {
				font-size: 1rem !important;
			}
		}
	}
}