section.Check {
    padding: 50px 0;
    .check__item {
        border: 1px solid #EAEAEA;
        padding-bottom: 50px;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .checkItem__head {
        background: #EAEAEA;
        padding: 10px 0;
        padding-left: 40px;
        h3 {
            font-family: Roboto-Bold;
            font-size: 18px;
            color: #5D5D5D;
        }
    }
    .checkItem__body {
        margin: auto;
        width: 70%;
        h2 {
            text-align: center;
            font-size: 23px;
            color: map-get($mau, main-2);
            font-family: Roboto-Bold;
            padding: 30px 0;
        }
        .checkItem__body-process {
            margin-bottom: 20px;
            position: relative;
            .process {
                height: 2px;
                width: 100%;
                background: map-get($mau, main-2);
            }
            .process__item {
                &-step-1 {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: map-get($mau, main-2);
                    top: 0;
                    transform: translate(-50%, -50%);
                    left: 0;
                }
                &-step-2 {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: map-get($mau, main-2);
                    top: 0;
                    transform: translate(-50%, -50%);
                    left: 50%;
                }
                &-step-3 {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: map-get($mau, main-2);
                    top: 0;
                    transform: translate(-50%, -50%);
                    left: 100%;
                }
            }
        }
        .checkITem__body-table {
            table {
                width: 100%;
            }
            thead {
                border-bottom: 1px solid #5D5D5D;
                th {
                    color: map-get($mau, main-2);
                    font-family: Roboto-Bold;
                    font-size: 18px;
                    text-align: center;
                    &:first-child {
                        text-align: left;
                    }
                }
            }
            tbody {
                tr {
                    border-bottom: 1px dashed #5D5D5D;
                    &.transport {
                        td {
                            &:nth-child(2) {
                                text-align: center;
                                font-size: 15px;
                                font-family: Roboto-Light;
                                color: #5D5D5D;
                                text-align: right;
                            }
                            h3 {
                                font-size: 15px;
                                font-family: Roboto-Light;
                                color: #5D5D5D;
                            }
                            span.c-b {
                                color: blue;
                            }
                        }
                    }
                    &.total {
                        border-bottom: unset;
                        td {
                            &:nth-child(2) {
                                text-align: center;
                                font-size: 28px;
                                font-family: Roboto-Bold;
                                color: map-get($mau, main-2);
                                text-align: right;
                            }
                            h3 {
                                font-size: 18px;
                                font-family: Roboto-Bold;
                                color: map-get($mau, main-2);
                            }
                        }
                    }
                }
                td {
                    p {
                        font-size: 15px;
                    }
                    h6 {
                        font-size: 15px;
                        font-family: Roboto-Light;
                        font-weight: normal;
                        margin-top: 20px;
                    }
                    font-family: Roboto-Light;
                    &:first-child {
                        width: 90px;
                        height: 80px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    &:last-child {
                        text-align: right;
                    }
                    &:nth-child(3) {
                        text-align: center;
                    }
                }
            }
        }
    }
    .checkItem__footer {
        border-top: 1px solid #5d5d5d;
        padding-top: 40px;
        width: 70%;
        margin: auto;
        display: flex;
        .checkFt__icon {
            width: 30%;
            display: flex;
            .img {
                -ms-flex: 0 0 30%;
                flex: 0 0 30%;
                max-width: 30%;
            }
            .txt {
                -ms-flex: 0 0 70%;
                flex: 0 0 70%;
                max-width: 70%;
                h3 {
                    color: #5D5D5D;
                    font-size: 30px;
                }
                h6 {
                    color: #5D5D5D;
                    font-size: 16px;
                    letter-spacing: 2px;
                }
            }
        }
        .checkFt__txt {
            -ms-flex: 0 0 70%;
            flex: 0 0 70%;
            max-width: 70%;
            p {
                font-size: 15px;
                margin-bottom: 3px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}