section.Guide {
    padding: 50px 0;
    @media (max-width: 1024px) {
        padding: 20px 0;
    }
    h2 {
        font-family: RobotoC-Bold;
        font-size: 35px;
        color: map-get($mau, main-2);
        text-align: center;
        margin-bottom: 20px;
    }
    h6 {
        margin: auto;
        width: 70%;
        font-family: Roboto-Light;
        font-size: 18px;
        text-align: center;
        color: #5D5D5D;
        margin-bottom: 50px;
        font-weight: normal;
        @media (max-width: 1024px) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .guide__ques {
        background: map-get($mau, main-2);
        width: 340px;
        margin: auto;
        padding: 20px 0;
        position: relative;
        @media (max-width: 1024px) {
            width: 300px;
        }
        &::before {
            position: absolute;
            bottom: 5px;
            left: 50%;
            width: 25px;
            height: 16px;
            background: url(../assets/images/guide/ar-b.png);
            background-repeat: no-repeat;
            content: '';
            transform: translateX(-50%);
        }
        h3 {
            font-family: Roboto-Light;
            font-size: 35px;
            color: white;
            text-align: center;
            @media (max-width: 1024px) {
                font-size: 28px;
            }
        }
    }
    .guide__form {
        margin-top: 40px;
        padding: 50px;
        width: 50%;
        margin: auto;
        background: #5d5d5d;
        background-image: url(../assets/images/guide/bg.png);
        background-size: 150%;
        @media (max-width: 1024px) {
            width: 60%;
        }
        @media (max-width: 768.98px) {
            width: 80%;
        }
        @media (max-width: 575.98px) {
            width: 100%;
        }
        .guide__input {
            margin-bottom: 20px;
            input {
                width: 100%;
                outline: none;
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                box-shadow: 0px 3px 4px rgba($color: #000000, $alpha: .2);
            }
            textarea {
                border: none;
                box-shadow: 0px 3px 4px rgba($color: #000000, $alpha: .2);
                width: 100%;
                outline: none;
                padding: 10px 20px;
                border-radius: 10px;
                resize: none;
            }
        }
        .btn__submit--guide {
            cursor: pointer;
            width: 240px;
            padding: 10px 0;
            margin: auto;
            background: map-get($mau, main-2);
            h4 {
                font-size: 35px;
                text-align: center;
                color: white;
                font-family: Roboto-Light;
                @media (max-width: 1024px) {
                    font-size: 28px;
                }
            }
        }
    }
    .guide__list {
        margin-top: 40px;
    }
    .guide__item {
        width: 100%;
        display: flex;
        padding: 20px;
        border: 1px solid #5D5D5D;
        margin-bottom: 20px;
    }
    .guide__stt {
        width: 140px;
        position: relative;
        padding-top: 50px;
        @media (max-width: 650.98px) {
            display: none;
        }
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 12px;
            background: map-get($mau, main-2);
            bottom: 0;
            @media (max-width: 575.98px) {
                top: 150px;
                bottom: unset;
            }
        }
        h2 {
            margin-bottom: 0;
            font-size: 130px;
            color: #BCBCBC;
            font-family: Roboto-Bold;
            @media (max-width: 1024px) {
                font-size: 11rem;
            }
        }
    }
    .guide__content {
        padding-right: 10px;
        padding-left: 30px;
        position: relative;
        @media (max-width: 650.98px) {
            padding-left: 40px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -25px;
            background: url(../assets/images/guide/left.png);
            width: 45px;
            height: 45px;
            background-repeat: no-repeat;
            @media (max-width: 650.98px) {
                left: -17px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            right: 15px;
            bottom: -23px;
            background: url(../assets/images/guide/right.png);
            width: 45px;
            height: 45px;
            background-repeat: no-repeat;
        }
        h5 {
            font-family: Roboto-Bold;
            font-size: 18px;
            color: map-get($mau, main-2);
            margin-bottom: 20px;
            @media (max-width: 1024px) {
                font-size: 16px;
                margin-bottom: 14px;
            }
        }
        p {
            font-family: Roboto-Light;
            font-size: 18px;
            color: #5D5D5D;
            @media (max-width: 1024px) {
                font-size: 16px;
            }
        }
    }
    .guide__btn--more {
        width: 10%;
        padding: 10px 0;
        background: map-get($mau, main-2);
        border-radius: 20px;
        margin: auto;
        cursor: pointer;
        transition: all .3s ease-in-out;
        border: 1px solid transparent;
        &:hover {
            background: white;
            transition: all .3s ease-in-out;
            border: 1px solid map-get($mau, main-2);
            h3 {
                color: map-get($mau, main-2);
                transition: all .3s ease-in-out;
            }
        }
        h3 {
            text-align: center;
            color: white;
            font-family: RobotoC-Bold;
            transition: all .3s ease-in-out;
            font-weight: normal;
        }
    }
}