.home__welcome {
	margin-top: 80px;
	margin-bottom: 80px;
	@media (max-width: 1024px) {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}
.home__welcome__wrapper {
	text-align: center;
	h2 {
		font-size: 3.5rem;
		line-height: 4.2rem;
		font-weight: 400;
		color: #a62c32;
		margin-bottom: 40px;
	}
	.desc {
		max-width: 860px;
		margin: 0 auto;
		margin-bottom: 60px;
		p {
			font-family: Roboto-Light;
		}
	}
	.overview_khangminh {
		display: flex;
		flex-direction: row;
		margin-left: -20px;
		margin-right: -20px;
		> a {
			-ms-flex: 0 0 33.33%;
			flex: 0 0 33.33%;
			max-width: 33.33%;
			padding-left: 20px;
			padding-right: 20px;
			.img {
				overflow: hidden;
				max-height: 193px;
				img {
					transition: 1s all ease-in;
					z-index: 100;
				}
			}
			.desc-img {
				padding-top: 35px;
				position: relative;
				overflow: hidden;
				height: 90px;
				p {
					color: #5d5d5d;
				}
				&:first-child {
					&::before {
						content: "";
						z-index: 10;
						position: absolute;
						width: 100%;
						height: 120px;
						background: url("../assets/images/home/after-1.png")
							no-repeat;
						background-size: 100% 100%;
						top: -40%;
						z-index: 0;
						pointer-events: none;
						left: 50%;
						transform: translateX(-50%);
					}
				}
				&:nth-child(2) {
					&::before {
						content: "";
						z-index: 10;
						position: absolute;
						width: 100%;
						height: 120px;
						background: url("../assets/images/home/after-2.png")
							no-repeat;
						background-size: 100% 100%;
						top: -40%;
						z-index: 0;
						pointer-events: none;
						left: 50%;
						transform: translateX(-50%);
					}
				}
				&:nth-child(3) {
					&::before {
						content: "";
						z-index: 10;
						position: absolute;
						width: 100%;
						height: 120px;
						background: url("../assets/images/home/after-3.png")
							no-repeat;
						background-size: 100% 100%;
						top: -40%;
						z-index: 0;
						pointer-events: none;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
			@media (min-width: 1025px) {
				&:hover {
					.img {
						img {
							transform: scale(1.1);
							transition: 1s all ease-in-out;
						}
					}
					.desc-img {
						p {
							transition: 1s all ease-in-out;
							color: #a62c32;
						}
					}
				}
			}
		}
		@media (max-width: 1024px) {
			margin-left: -10px;
			margin-right: -10px;
			> a {
				padding-right: 10px;
				padding-left: 10px;
			}
		}
		@media (max-width: 767.98px) {
			margin-left: -3px;
			margin-right: -3px;
			> a {
				padding-right: 3px;
				padding-left: 3px;
				.desc-img {
					padding-top: 10px;
					height: auto;
					&::before {
						content: none !important;
					}
				}
			}
		}
	}
	@media (max-width: 1024px) {
		h2.title {
			margin-bottom: 20px;
		}
		.desc {
			margin-bottom: 20px;
		}
	}
	@media (max-width: 575.98px) {
		h2.title {
			font-size: 3rem;
		}
	}
}
// TITLE
.title__wrapper {
	height: 202px;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 90px;
	> div {
		z-index: 100;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 190%;
			left: 50%;
			transform: translateX(-50%);
			width: 24px;
			height: 52px;
			background: url("../assets/images/home/product-arrow.png") no-repeat;
			background-size: 100% 100%;
		}
	}
	h2 {
		font-size: 5rem;
		line-height: 6rem;
		font-family: HelvelticaNeuePro;
		color: #a62c32;
	}
	&::after {
		z-index: 0;
		content: attr(data-title);
		position: absolute;
		font-size: 27rem;
		font-family: HelvelticaNeuePro;
		font-weight: 900;
		color: #eaeaea;
		opacity: 0.3;
	}
	&::before {
		z-index: 10;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: url("../assets/images/home/after-bottom.png") no-repeat;
		background-size: 100% 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	@media (max-width: 767.98px) {
		height: 30px;
		&::after {
			font-size: 15rem;
		}
		> div {
			h2 {
				font-size: 3.5rem;
			}
			&::after {
				top: 110%;
			}
		}
	}
}
// PRODUCT ITEM
.home__banner--product {
	padding: 70px 0;
	position: relative;
	.banner--img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		img {
			opacity: 0.7;
		}
		&::after {
			content: "";
			position: absolute;
			max-width: 552px;
			width: 100%;
			max-height: 182px;
			height: 100%;
			top: 0;
			right: 0;
			background: url("../assets/images/home/after-banner.png") no-repeat;
			background-size: 100% 100%;
			opacity: 1;
		}
		&::before {
			content: "";
			position: absolute;
			max-width: 552px;
			width: 100%;
			max-height: 182px;
			height: 100%;
			bottom: 0;
			left: 0;
			background: url("../assets/images/home/before-banner.png") no-repeat;
			background-size: 100% 100%;
			opacity: 1;
			z-index: 100;
		}
	
	}

	.banner--content {
		z-index: 10;
		h2.title {
			font-size: 3.5rem;
			line-height: 4.2rem;
			color: #a62c32;
			margin-bottom: 240px;
			@media (max-width: 1024px) {
				margin-bottom: 100px;
			}
		
		}
	}
	@media (max-width: 767.98px) {
		padding: 30px 0;
		.banner--img {
			&::after {
				content: none;
			}
			&::before {
				content: none;
			}
		}
	}
}
.product__wrapper,
.product__wrappers {
	z-index: 10;
	position: relative;
	margin-bottom: 50px;
	.wrapper {
		position: relative;
	}
	.card {
		color: #5d5d5d !important;
		transition: 1s all ease-in-out;
		display: block;
		.card-body {
			background: #fff;
			text-align: center;
			padding: 35px 50px;
			.img {
				overflow: hidden;
				img {
					transition: 0.3s all ease-in-out;
				}
			}
			.desc {
				p {
					font-family: Roboto-Regular;
					font-size: 1.8rem;
					line-height: 2.7rem;
				}
			}
			.price {
				p {
					opacity: 0.3;
					font-size: 1.8rem;
					font-family: Roboto-Regular;
					line-height: 2.7rem;
					transition: 0.3s all ease-in-out;
					&.price {
						text-decoration-line: line-through;
					}
				}
			}
		}
		.card-footer {
			background: #eaeaea;
			width: 100%;
			height: 48px;
			transition: 0.3s all ease-in-out;
			p {
				transition: 0.3s all ease-in-out;
			}
		}
		@media (min-width: 1025px) {
			&:hover {
				transition: 1s all ease-in-out;
				box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.3);
				.img {
					img {
						transition: 0.3s all ease-in-out;
						transform: scale(1.1);
					}
				}
				.price {
					p {
						transition: 0.3s all ease-in-out;
						color: #a62c32;
						opacity: 1;
					}
				}
				.card-footer {
					background: #a62c32;
					p {
						transition: 0.3s all ease-in-out;

						color: #fff;
					}
				}
			}
		}
		@media (max-width: 1024px) {
			.card-body {
				padding: 10px;
			}
		};
	}
	.swiper-container {
		margin: 0 75px;
		padding: 10px 5px;
	}
	@media (max-width: 767.98px) {
		margin-bottom: 20px;
		.swiper-container {
			margin: 0 40px;
		}
	}
	@media (max-width: 575.98px) {
		.card {
			.card-body {
				.img {
					max-width: 80px;
					max-height: 80px;
					width: 100%;
					height: 100%;
					margin: 0 auto;
				}
				.desc {
					p {
						font-size: 1.5rem;
					}
				}
				.price {
					p {
						font-size: 1.3rem;
					}
				}
			}
		}
		.card-footer {
			height: 40px !important;
		}
		.swiper-container {
			margin: 0 20px;
		}
	}

}

.home__ourproducts {
	padding: 85px 0;
	position: relative;
	overflow: hidden;
	.slogan {
		z-index: 100;
		pointer-events: none;
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(-50%);
		text-orientation: sideways;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		font-family: HelvelticaNeuePro;
		font-size: 20rem;
		font-weight: 900;
		line-height: 0.8;
		color: #eaeaea;
		opacity: 0.3;
		overflow: hidden;
		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			background: url("../assets/images/home/thebest.png");
		}
	}
	h2.title {
		font-size: 3.5rem;
		color: #a62c32;
		line-height: 4.2rem;
		text-align: center;
		margin-bottom: 75px;
		font-weight: 400;
	}
	.card-body {
		border: 1px solid #eaeaea;
	}
	.swiper-wrapper {
		display: grid;
		grid-template-columns: 3fr; // based on slidesPerView
		grid-template-rows: auto auto; // based on slidesPerColumn
		grid-auto-flow: column;
	}
	@media (max-width: 1200px) {
		.slogan {
			transition: .3 all ease-in-out;
			opacity: 0;
		}
		
	}
	@media (max-width: 1024px) {
		padding: 30px 0;
		h2.title {
			margin-bottom: 10px;
		}
	}
}

.home__news {
	margin-bottom: 90px;
	.home__news--banner {
		margin-bottom: 70px;
	}
	.home__news__wrapper {
		.title__wrapper {
			margin-bottom: 50px;
			> div {
				h2.title {
					font-weight: 400 !important;
					font-family: RobotoC-Regular;
				}
				&::after {
					content: none !important;
				}
			}
		}
	}
	@media (max-width: 1024px) {
		margin-bottom: 40px;
	}
}

.news--list {
	margin-bottom: 70px;
	.news--item {
		.img-news {
			max-height: 293px;
			margin-bottom: 40px;
			img {
				transition: 1s all ease-in-out;
			}
		}
		.desc-news {
			.calendar {
				width: 100%;
				height: 100%;
				position: relative;
				align-self: center;
				text-align: center;
				&::before {
					content: attr(number-calendar);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 15rem;
					font-family: HelvelticaNeuePro;
					text-align: center;
					color: #eaeaea;
					// opacity: .3;
					z-index: -1;
					pointer-events: none;
				}
				> div {
					z-index: 10;
				}
				p {
					color: #2b2b2b;
					font-size: 2rem;
				}
			}
			.desc {
				h4 {
					font-size: 1.7rem;
					line-height: 2rem;
					color: #2b2b2b;
					margin-bottom: 10px;
					transition: 0.3 all ease-in-out;
				}
				.date-time {
					margin-bottom: 10px;
					strong {
						color: #a62c32;
						font-family: Roboto-Light;
					}
				}
				> p {
					font-family: Roboto-Light;
					color: #5d5d5d;
				}
			}
		}
		@media (min-width: 1025px) {
			&:hover {
				.img-news {
					img {
						transform: scale(1.1);
						transition: 1s all ease-in-out;
					}
				}
				.desc {
					h4 {
						color: #a62c32;
						transition: 0.3 all ease-in-out;
					}
				}
			}
		}
		@media (max-width: 1024px) {
			.img-news {
				margin-bottom: 10px;
			}
		};
		@media (max-width: 700px) {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 20px;
		}
	}
	@media (max-width: 1024px) {
		margin-bottom: 40px;
	}
}
