section.Introduce {
    padding: 90px 0;
    @media (max-width: 1024px) {
        padding: 40px 0;
    }
    @media (max-width: 575.98px) {
        padding: 20px 0;
    }
    .introduce__wrapper {
        h2 {
            margin-bottom: 40px;
            font-family: RobotoC-Regular;
            font-size: 35px;
            color: map-get($mau, main-2);
            text-align: center;
            text-transform: uppercase;
            font-weight: normal;
            @media (max-width: 575.98px) {
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
        h4 {
            font-family: Roboto-Light;
            font-size: 18px;
            color: map-get($mau, main-3);
            text-align: center;
            @media (max-width: 575.98px) {
                font-size: 12px;
            }
        }
        h3 {
            text-transform: uppercase;
            font-size: 23px;
            padding: 40px 0;
            color: map-get($mau, main-2);
            font-family: RobotoC-bold;
            @media (max-width: 1024px) {
                padding: 25px 0;
            }
            @media (max-width: 575.98px) {
                padding: 20px 0;
            }
        }
        p {
            font-family: Roboto-Light;
            font-size: 18px;
            margin-bottom: 40px;
            text-align: justify;
            &:last-child {
                margin-bottom: 0;
            }
            @media (max-width: 1024px) {
                margin-bottom: 20px;
            }
            @media (max-width: 575.98px) {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
        &.t-1 {
            .introduce__img {
                padding-top: 40px;
                width: 100%;
                height: 540px;
                @media (max-width: 575.98px) {
                    padding-top: 20px;
                    height: 300px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &.t-2 {
            display: block;
            .swiper-slide.swiper-slide-active {
                img {
                    position: unset;
                    width: 100%;
                    height: 90%;
                    left: unset;
                    top: unset;
                    transform: unset;
                }
                h5 {
                    opacity: 1;
                    transition: .5s all ease-in-out;
                    margin-top: 20px;
                }
            }
            .swiper-container {
                padding-top: 50px;
                margin: 0 50px;
                @media (max-width: 575.98px) {
                    padding-top: 10px;
                }
            }
            .swiper-button-next,
            .swiper-button-prev {
                top: 62%;
            }
            .swiper-slide {
                height: 660px;
                position: relative;
                img {
                    height: 70%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                h5 {
                    font-size: 16px;
                    font-family: Roboto-Light;
                    text-align: center;
                    opacity: 0;
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
            }
        }
        &.t-3 {
            h3 {
                &:first-child {
                    margin-bottom: 40px;
                    font-family: RobotoC-bold;
                    font-size: 35px;
                    color: map-get($mau, main-2);
                    text-align: center;
                    text-transform: uppercase;
                    @media (max-width: 575.98px) {
                        font-size: 22px;
                        margin-bottom: unset;
                    }
                }
                @media (max-width: 575.98px) {
                    font-size: 16px;
                }
                padding-top: 0;
            }
        }
        // -----------------------------
        // -----------------------------
        // -----------------------------
        &.t-4 {
            #map {
                height: 100%;

                .gm-style-iw-c {
                    width: 400px;
                }
                .map-markers {

                    h3 {
                        padding: unset;
                    }

                    p {
                        margin-bottom: unset;
                    }
                }
            }
            .introduce__inner {
                display: flex;
                flex-wrap: wrap;
            }
            .intro__map {
                -ms-flex: 0 0 70%;
                flex: 0 0 70%;
                max-width: 70%;
                padding-right: 40px;
                @media (max-width: 768.98px) {
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-right: unset;
                    margin-top: 20px;
                    order: 2;
                }
                .map {
                    width: 100%;
                    height: 100%;
                    background: map-get($mau, main-3);
                    @media (max-width: 768.98px) {
                        height: 500px !important;
                    }
                }
            }
            .introMap__search {
                -ms-flex: 0 0 30%;
                flex: 0 0 30%;
                max-width: 30%;
                @media (max-width: 768.98px) {
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                    order: 1;
                }
            }
            .introMap__input {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                select {
                    appearance: none;
                }
                input,
                select {
                    width: 100%;
                    padding: 10px 20px;
                    outline: none;
                    background: #EAEAEA;
                    border: none;
                }
                &.select {
                    position: relative;
                    &::before {
                        z-index: 100;
                        position: absolute;
                        top: 40%;
                        right: 15px;
                        width: 25px;
                        height: 20px;
                        background: url(../../assets/images/product/ar-b.png);
                        background-repeat: no-repeat;
                        content: '';
                    }
                }
            }
            .introMap__list {
                margin-top: 20px;
                height: 370px;
                overflow-y: auto;
                ul {
                    list-style: none;
                    padding-inline-start: 0px;
                    padding-right: 40px;
                }
            }
            .introMap__item {
                cursor: pointer;
                margin-bottom: 30px;
                h6 {
                    font-size: 18px;
                    color: map-get($mau, main-2);
                    font-family: RobotoC-bold;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 16px;
                    color: map-get($mau, main-5);
                    font-family: RobotoC-Regular;
                }
            }
            .item__info {
                display: flex;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                .info__icon {
                    -ms-flex: 0 0 8%;
                    flex: 0 0 8%;
                    max-width: 8%;
                }
                img {
                    background-size: 100%;
                }
            }
        }
        // -----------------------------
        // -----------------------------
        // -----------------------------
        &.t-5 {
            h2 {
                @media (max-width: 768.98px) {
                    margin-bottom: unset;
                }
                &:first-child {
                    position: relative;
                    &::before {
                        position: absolute;
                        top: 15%;
                        left: 50%;
                        width: 1095px;
                        height: 358px;
                        background: url(../../assets/images/intro/t5.png);
                        content: "";
                        transform: translate(-50%, -50%);
                        z-index: -1;
                    }
                }
            }
            h4 {
                padding-top: 30px;
                font-weight: normal;
                @media (max-width: 768.98px) {
                    padding-top: 15px;
                }
            }
            p {
                text-align: center;
                font-size: 16px;
                color: white;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                @media (max-width: 575.98px) {
                    font-size: 14px;
                }
            }
            .gallery__slider {
                padding: 50px 0;
                .swiper-container {
                    margin: 0 70px;
                }
                @media (max-width: 768.98px) {
                    padding: 20px 0;
                }
            }
            .gallery__item {
                position: relative;
                display: block;
                overflow: hidden;
                cursor: pointer;
                &:hover {
                    .item__txt {
                        bottom: 0;
                        transition: .5s all ease-in-out;
                    }
                }
                height: 220px;
            }
            .item__img {
                height: 100%;
                width: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .item__txt {
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: -100%;
                pointer-events: none;
                transition: .5s all ease-in-out;
                background: rgba($color: #212121, $alpha: 0.6);
            }
            .txt {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
            }
            h5 {
                text-align: center;
                position: relative;
                font-family: RobotoC-Regular;
                font-size: 32px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                color: white;
                &::before {
                    position: absolute;
                    bottom: 0;
                    content: "";
                    background: white;
                    height: 2px;
                    width: 60%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .video__wrapper {
                padding: 50px 0;
                display: flex;
                flex-wrap: wrap;
                margin: 0 -12.5px;
                @media (max-width: 768.98px) {
                    padding: 20px 0;
                }
                .video__item {
                    &:hover {
                        &:first-child {
                            .videoItem__thumbnail {
                                height: 100%;
                            }
                        }
                    }
                    &.active {
                        .videoItem__thumbnail {
                            opacity: .5;
                            position: relative;
                            &::before {
                                position: absolute;
                            }
                        }
                    }
                    cursor: pointer;
                    &-preview {
                        margin-bottom: 42px;
                        -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                        max-width: 100%;
                        display: flex;
                        padding: 0 12.5px;
                        flex-wrap: wrap;
                        .videoItem {
                            -ms-flex: 0 0 60%;
                            flex: 0 0 60%;
                            max-width: 60%;
                            height: 425px;
                            position: relative;
                            @media (max-width: 575.98px) {
                                -ms-flex: 0 0 100%;
                                flex: 0 0 100%;
                                max-width: 100%;
                            }
                        }
                        .videoItem__content {
                            -ms-flex: 0 0 40%;
                            flex: 0 0 40%;
                            max-width: 40%;
                            padding-left: 35px;
                            @media (max-width: 768.98px) {
                                padding-left: 20px;
                            }
                            @media (max-width: 575.98px) {
                                padding-top: 10px;
                                -ms-flex: 0 0 100%;
                                flex: 0 0 100%;
                                max-width: 100%;
                                padding-left: unset;
                            }
                        }
                        .videoItem__thumbnail {
                            height: 100%;
                            background: map-get($mau, main-3);
                            position: absolute;
                            top: 0;
                            cursor: pointer;
                            // pointer-events: none;
                            &::before {
                                position: absolute;
                                width: 84px;
                                height: 84px;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                content: '';
                                background: url(../assets/images/intro/play.png);
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .videoItem__src {
                            height: 425px;
                        }
                        span {
                            display: none;
                        }
                    }
                    &:not(:first-child) {
                        position: relative;
                        -ms-flex: 0 0 33.3333%;
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%;
                        padding: 0 12.5px;
                        @media (max-width: 768.98px) {
                            -ms-flex: 0 0 50%;
                            flex: 0 0 50%;
                            max-width: 50%;
                            margin-bottom: 20px;
                        }
                        @media (max-width: 575.98px) {
                            -ms-flex: 0 0 100%;
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        h6 {
                            margin-bottom: 10px;
                        }
                        p {
                            -webkit-line-clamp: 2;
                        }
                        .videoItem__thumbnail {
                            margin-bottom: 30px;
                            height: 238px;
                            background: map-get($mau, main-3);
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .videoItem__src {
                            display: none;
                            height: 238px;
                        }
                    }
                }
                .videoItem__content {
                    margin-top: 20px;
                    h6 {
                        font-size: 18px;
                        color: map-get($mau, main-2);
                        text-transform: uppercase;
                        font-family: RobotoC-Regular;
                        margin-bottom: 40px;
                        overflow: hidden;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        @media (max-width: 767.98px) {
                            margin-bottom: 20px;
                        }
                        @media (max-width: 575.98px) {
                            margin-bottom: 10px;
                            font-size: 14px;
                        }
                    }
                    p {
                        color: map-get($mau, main-3);
                        text-align: justify;
                        margin-bottom: 8px;
                        overflow: hidden;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 5;
                    }
                    span {
                        margin-bottom: 8px;
                        font-size: 18px;
                        font-style: italic;
                        margin-bottom: 10px;
                        display: inline-block;
                        color: map-get($mau, main-3);
                    }
                }
            }
            .btn__seeMore {
                text-align: center;
                h4 {
                    display: inline-block;
                    padding: 17px 35px;
                    background: map-get($mau, main-2);
                    color: white;
                    font-size: 20px;
                    font-family: RobotoC-Regular;
                    text-transform: capitalize;
                    border-radius: 30px;
                    cursor: pointer;
                    user-select: none;
                }
            }
        }
    }
    button.ytp-large-play-button {
        display: none;
    }
}