section.Product {
    padding: 50px 0;
    h2 {
        text-align: center;
        font-size: 35px;
        font-family: RobotoC-Regular;
        color: map-get($mau, main-2);
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .product__filter {
        position: relative;
        background: #F7F7F7;
        padding: 50px;
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    .proFilter__item {
        position: relative;
        padding-right: 40px;
        &:last-child {
            padding-right: 0;
        }
        select {
            position: relative;
            width: 100%;
            padding: 10px 20px;
            outline: none;
            border: none;
            color: map-get($mau, main-3);
        }
        label {
            color: map-get($mau, main-4);
            margin-bottom: 15px;
        }
        &.style {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                background: url(../../assets/images/product/ar-b.png);
                background-repeat: no-repeat;
                z-index: 100;
                top: 65%;
                right: 25px;
            }
        }
        &.price {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                background: url(../../assets/images/product/ar-b.png);
                background-repeat: no-repeat;
                z-index: 100;
                top: 65%;
                right: 25px;
            }
        }
        &.range {
            -ms-flex: 0 0 40%;
            flex: 0 0 40%;
            max-width: 40%;
            #rangeProduct {
                height: unset;
                margin-top: 8px;
            }
            .range__inner {
                display: flex;
                justify-content: center;
                padding: 10px;
                background: white;
                span {
                    color: map-get($mau, main-2);
                    b {
                        font-weight: normal;
                    }
                }
            }
            .sliderPrice {
                width: 60%;
                padding: 0 20px;
            }
            .noUi-handle:after,
            .noUi-handle:before {
                content: none;
            }
            .noUi-handle {
                border: unset;
                border-radius: unset;
                background: unset;
                cursor: pointer;
                box-shadow: unset;
                top: -3px;
            }
            .noUi-target {
                background: unset;
                border-radius: unset;
                border: unset;
                box-shadow: unset;
            }
            .noUi-connects {
                width: 100%;
                height: 2px;
                background: map-get($mau, main-2);
            }
            .noUi-touch-area {
                border-radius: 50%;
                background: map-get($mau, main-2);
                width: 8px;
                height: 8px;
            }
        }
        &.submit {
            -ms-flex: 0 0 10%;
            flex: 0 0 10%;
            max-width: 10%;
            #filter {
                width: 100%;
                outline: none;
                border: none;
                padding: 10px 20px;
                background: map-get($mau, main-2);
                color: white;
                text-transform: uppercase;
                text-align: center;
                margin-top: 35px;
                cursor: pointer;
                user-select: none;
            }
        }
    }
    .product__list {
        position: relative;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
    }
    .product__item {
        display: block;
        position: relative;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 5px;
        margin-bottom: 20px;
        &:hover {
            .proItem__img {
                img {
                    transform: scale(1.1);
                    transition: all .3s ease-in-out;
                }
            }
            .proItem__price {
                h4 {
                    color: map-get($mau, main-2);
                    opacity: 1;
                    transition: all .3s ease-in-out;
                }
            }
            .proItem__cart {
                background: map-get($mau, main-2);
                transition: all .3s ease-in-out;
                h3 {
                    color: white;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
    a.proItem__inner {
        border: 1px solid #EAEAEA;
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .proItem__img {
        height: 250px;
        img {
            transition: all .3s ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .proItem__desc {
        text-align: center;
        padding: 20px;
        p {
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            font-family: Roboto-Regular;
            color: #5d5d5d;
            font-size: 18px;
        }
    }
    .proItem__price {
        &.noSale {
            margin-top: 21px;
        }
        text-align: center;
        margin-bottom: 20px;
        h4 {
            &.sale {
                text-decoration: line-through;
            }
            color: #5d5d5d;
            opacity: .3;
            font-family: Roboto-Regular;
            font-size: 18px;
            transition: all .3s ease-in-out;
            span {
                font-family: Roboto-Regular;
                font-size: 18px;
            }
        }
    }
    .proItem__cart {
        text-align: center;
        background: #EAEAEA;
        cursor: pointer;
        transition: all .3s ease-in-out;
        h3 {
            transition: all .3s ease-in-out;
            display: block;
            position: relative;
            padding: 20px 0;
            text-transform: uppercase;
            font-family: RobotoC-Regular;
            font-size: 18px;
            color: #5d5d5d;
        }
    }
    .productGetAll {
        .get {
            margin: auto;
            padding: 20px 30px;
            background: map-get($mau, main-2);
            width: fit-content;
            color: white;
            cursor: pointer;
            text-transform: uppercase;
        }
    }
}

section.ProDetail {
    background: #F9F9F9;
    padding: 50px 0;
    .detail__inner {
        display: flex;
        flex-wrap: wrap;
    }
    .detail__img {
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        display: flex;
    }
    .detail__info {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .detail__mainImg {
        height: 595px;
        width: 100%;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .detail__listImg {
        padding: 0 30px;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
        .swiper-container {
            height: 595px;
        }
        .swiper-slide {
            cursor: pointer;
            height: 100px !important;
            margin-bottom: 20px;
            &.active {
                position: relative;
                &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: map-get($mau, main-2);
                    opacity: .4;
                    z-index: 1;
                    top: 0;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .detail__info {
        background: white;
        padding: 20px;
    }
    .deInfo__social {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        align-content: center;
        .social__item {
            cursor: pointer;
            &.chat {
                width: unset;
                padding: 10px 30px;
                margin-left: 0px;
                text-align: center;
                background: map-get($mau, main-2);
                h4 {
                    text-transform: uppercase;
                    color: white;
                    font-size: 16px;
                }
            }
            height: 40px;
            width: 40px;
            margin-left: 20px;
        }
    }
    .deInfo__content {
        padding-top: 15px;
        .content__info {
            border-bottom: 1px solid #5D5D5D;
            h3 {
                display: inline-block;
                &:last-child {
                    margin-left: 50px;
                    position: relative;
                    &::before {
                        position: absolute;
                        top: 10px;
                        left: -30px;
                        font-size: 30px;
                        content: '|';
                    }
                }
            }
        }
        h2 {
            font-size: 30px;
            font-family: RobotoC-Regular;
            color: #212121;
            text-transform: uppercase;
        }
        h4 {
            font-family: Roboto-Regular;
            font-size: 16px;
            color: #5d5d5d;
            margin-bottom: 10px;
        }
        .price__detail {
            border-top: 1px solid #5D5D5D;
            border-bottom: 1px solid #5D5D5D;
            h3 {
                padding: 10px;
                &:first-child {
                    padding-bottom: 5px;
                    span {
                        text-decoration: line-through;
                    }
                }
                &:last-child {
                    padding-top: 0;
                }
            }
        }
        h3 {
            padding: 20px 0;
            font-size: 18px;
            font-family: Roboto-Regular;
            color: #5d5d5d;
            >span {
                font-size: 30px;
                color: map-get($mau, main-2);
                margin-left: 20px;
            }
        }
        span {
            font-family: Roboto-Regular;
            color: #5d5d5d;
            font-size: 18px;
        }
    }
    .content__cart {
        margin: 20px 0;
        width: 100%;
        background: #EAEAEA;
        padding: 20px 0;
        text-align: center;
        cursor: pointer;
        h4 {
            user-select: none;
            font-family: RobotoC-Regular;
            font-size: 23px;
            text-transform: uppercase;
            color: #5d5d5d;
            margin-bottom: unset;
        }
        &:hover {
            background: map-get($mau, main-2);
            transition: all .3s ease-in-out;
            h4 {
                color: white;
                transition: all .3s ease-in-out;
            }
        }
    }
    .content__action {
        display: flex;
        margin: 0 -10px
    }
    .content {
        background: #EAEAEA;
        display: flex;
        height: 66px;
        justify-content: center;
        align-items: center;
        transition: all .3s ease-in-out;
        cursor: pointer;
        &:hover {
            background: map-get($mau, main-2);
            transition: all .3s ease-in-out;
            .txt {
                h4 {
                    color: white;
                    transition: all .3s ease-in-out;
                }
            }
        }
        &.active {
            background: map-get($mau, main-2);
            .txt {
                h4 {
                    color: white;
                }
            }
        }
        .icon {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        .txt {
            h4 {
                margin-bottom: unset;
                user-select: none;
                font-family: RobotoC-Regular;
                font-size: 18px;
                text-transform: uppercase;
                color: #5d5d5d;
                margin-bottom: unset;
                transition: all .3s ease-in-out;
            }
        }
    }
    .action__item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 10px;
    }
    .content__qty {
        display: flex;
        padding: 20px 0;
        h3 {
            margin-right: 20px;
        }
        input {
            width: 60px;
            height: 50px;
            outline: none;
            border-top: 1px solid #5d5d5d;
            border-bottom: 1px solid #5d5d5d;
            font-size: 26px;
            padding-left: 10px;
        }
        .upper,
        .lower {
            &.no-action {
                background: #5d5d5d;
                pointer-events: none;
            }
            height: 50px;
            width: 50px;
            text-align: center;
            span {
                width: 100%;
                height: 100%;
                display: inline-block;
                font-size: 40px;
                border: 1px solid #5d5d5d;
                cursor: pointer;
                user-select: none;
            }
        }
    }
    .deInfo__desc {
        width: 100%;
        margin: 40px 0;
    }
    .item__content {
        &.no-active {
            display: none;
            padding: 0 0;
        }
    }
    .desc__item {
        border-bottom: 1px solid #5d5d5d;
        padding: 10px 0;
        width: 100%;
        h3 {
            font-size: 20px;
            font-family: RobotoC-Bold;
            margin-bottom: 20px;
            cursor: pointer;
            user-select: none;
            &.no-active {
                margin-bottom: 0;
                &::before {
                    content: '+';
                }
            }
            &::before {
                content: '-';
                position: absolute;
                right: 10px;
            }
        }
        ul {
            list-style: none;
            padding-inline-start: 20px;
            li {
                font-family: Roboto-Light;
                font-size: 18px;
                margin-bottom: 8px;
            }
        }
    }
}