section.Introduce
	.container
		.introduce__wrapper.t-2.container-1175px
			h2 DANH HIỆU GIẢI THƯỞNG
			h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						img(src="./assets/images/intro/a1.png", alt="introduce-1")
						h5 LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. AENEAN COMMODO.
					.swiper-slide
						img(src="./assets/images/intro/a2.png", alt="introduce-1")
						h5 LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. AENEAN COMMODO.
					.swiper-slide
						img(src="./assets/images/intro/a3.png", alt="introduce-1")
						h5 LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. AENEAN COMMODO.
					.swiper-slide
						img(src="./assets/images/intro/a1.png", alt="introduce-1")
						h5 LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. AENEAN COMMODO.
					.swiper-slide
						img(src="./assets/images/intro/a2.png", alt="introduce-1")
						h5 LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. AENEAN COMMODO.
			.swiper-button-next
			.swiper-button-prev