section.Introduce
	.container
		.introduce__wrapper.t-5.container-1175px
			h2 HÌNH ẢNH
			h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			.gallery__slider
				a.gallery__item(href="")
					.item__img
						img(src="./assets/images/intro/t1.png", alt="")
					.item__txt
						.txt
							h5 Album
							p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.
			h2 Video
			h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			.video__wrapper
				-for(var i =0; i<4;i++)
					.video__item
						.videoItem
							.videoItem__thumbnail
							.videoItem__src
						.videoItem__content
							h6 LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. AENEAN COMMODO LIGULA EGET DOLOR.
							span Lorem ipsum dolor.
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			.btn__seeMore
				h4 read More