section.Introduce
	.container
		.introduce__wrapper.t-5.container-1175px
			h2 HÌNH ẢNH
			h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			.gallery__slider.home__ourproducts
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.gallery__item
								.item__img(href="./assets/images/intro/t1.png" data-fancybox="x"  data-caption="")
									img(src="./assets/images/intro/t1.png", alt="")
									.listImg__gallery.display-none
										-for(i=0;i<12;i++)
											a(href="./assets/images/intro/t1.png" data-fancybox="x" data-thumb="./assets/images/intro/t1.png")
								.item__txt
									.txt
										h5 Album
										p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.
						.swiper-slide
							.gallery__item
								.item__img(href="./assets/images/intro/t1.png" data-fancybox="x"  data-caption="")
									img(src="./assets/images/intro/t1.png", alt="")
									.listImg__gallery.display-none
										-for(i=0;i<12;i++)
											a(href="./assets/images/intro/t1.png" data-fancybox="x" data-thumb="./assets/images/intro/t1.png")
								.item__txt
									.txt
										h5 Album
										p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.
						.swiper-slide
							.gallery__item
								.item__img(href="./assets/images/intro/t1.png" data-fancybox="x"  data-caption="")
									img(src="./assets/images/intro/t1.png", alt="")
									.listImg__gallery.display-none
										-for(i=0;i<12;i++)
											a(href="./assets/images/intro/t1.png" data-fancybox="x" data-thumb="./assets/images/intro/t1.png")
								.item__txt
									.txt
										h5 Album
										p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.
						.swiper-slide
							.gallery__item
								.item__img(href="./assets/images/intro/t1.png" data-fancybox="x"  data-caption="")
									img(src="./assets/images/intro/t1.png", alt="")
									.listImg__gallery.display-none
										-for(i=0;i<12;i++)
											a(href="./assets/images/intro/t1.png" data-fancybox="x" data-thumb="./assets/images/intro/t1.png")
								.item__txt
									.txt
										h5 Album
										p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.
						.swiper-slide
							.gallery__item
								.item__img(href="./assets/images/intro/t1.png" data-fancybox="x"  data-caption="")
									img(src="./assets/images/intro/t1.png", alt="")
									.listImg__gallery.display-none
										-for(i=0;i<12;i++)
											a(href="./assets/images/intro/t1.png" data-fancybox="x" data-thumb="./assets/images/intro/t1.png")
								.item__txt
									.txt
										h5 Album
										p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.
						.swiper-slide
							.gallery__item
								.item__img(href="./assets/images/intro/t1.png" data-fancybox="x"  data-caption="")
									img(src="./assets/images/intro/t1.png", alt="")
									.listImg__gallery.d-none
										-for(i=0;i<12;i++)
											a(href="./assets/images/intro/t1.png" data-fancybox="x" data-thumb="./assets/images/intro/t1.png")
								.item__txt
									.txt
										h5 Album
										p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.
						.swiper-slide
							.gallery__item
								.item__img(href="./assets/images/intro/t1.png" data-fancybox="x"  data-caption="")
									img(src="./assets/images/intro/t1.png", alt="")
									.listImg__gallery.display-none
										-for(i=0;i<12;i++)
											a(href="./assets/images/intro/t1.png" data-fancybox="x" data-thumb="./assets/images/intro/t1.png")
								.item__txt
									.txt
										h5 Album
										p Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.
				.swiper-button-next
				.swiper-button-prev
			h2 Video
			h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			.video__wrapper
				.video__item-preview.first
					.videoItem.first
						.videoItem__thumbnail.first
							img(src="", alt="")
						.videoItem__src.first
							.youtube-api(data-url="")
					.videoItem__content.first
				.video__item
					.videoItem
						.videoItem__thumbnail(data-id="WwCzVHJlm2I")
							img(src="./assets/images/intro/t1.png", alt="")
					.videoItem__content
						h6 LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. AENEAN COMMODO LIGULA EGET DOLOR.
						span Lorem ipsum dolor.
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
				.video__item
					.videoItem
						.videoItem__thumbnail(data-id="Y2LrrsEivEc")
							img(src="./assets/images/intro/t1.png", alt="")
					.videoItem__content
						h6 LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. AENEAN COMMODO LIGULA EGET DOLOR.
						span Lorem ipsum dolor.
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
				.video__item
					.videoItem
						.videoItem__thumbnail(data-id="rwgxfrYixe0")
							img(src="./assets/images/intro/t1.png", alt="")
					.videoItem__content
						h6 LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. AENEAN COMMODO LIGULA EGET DOLOR.
						span Lorem ipsum dolor.
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
				.video__item
					.videoItem
						.videoItem__thumbnail(data-id="rwgxfrYixe0")
							img(src="./assets/images/intro/t1.png", alt="")
					.videoItem__content
						h6 LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. AENEAN COMMODO LIGULA EGET DOLOR.
						span Lorem ipsum dolor.
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			.btn__seeMore
				h4 read More