section.Pay
	.container
		.container-1190px.pay__wrapper
			.pay__inner
				.pay__article
					.patArticle__item.location
						.pay__title.location
							span 1
							.checked.v-h
								img.svg(src="./assets/images/product/checked.svg", alt="checked")
							h2 Địa chỉ
							b.d-n.change Thay đổi
						.pay__location
							form(action="")
								.location__item
									.location__txt
										h3 Họ và Tên
									.location__input
										input(type="text" name="name")
								.location__item
									.location__txt
										h3 Tỉnh/thành phố
									.location__input.select
										select(name="city")
											option(value="1") Tp. Hồ Chí Minh
								.location__item
									.location__txt
										h3 Quận/huyện
									.location__input.select
										select(name="district")
											option(value="1") Gò Vấp
								.location__item
									.location__txt
										h3 Tầng, số nhà, đường
									.location__input
										input(type="text" name="way")
								.location__item
									.location__txt
										h3 Số điện thoại
									.location__input
										input(type="text" name="phone")
								.location__item.checkbox
									input(type="checkbox", name="location2" id="location2" value="1")
									label(for="location2") Địa chỉ thanh toán khác
								.location__2.d-n
									.location__item
										.location__txt
											h3 Họ và Tên
										.location__input
											input(type="text" name="name")
									.location__item
										.location__txt
											h3 Tỉnh/thành phố
										.location__input.select
											select(name="city")
												option(value="1") Tp. Hồ Chí Minh
									.location__item
										.location__txt
											h3 Quận/huyện
										.location__input.select
											select(name="district")
												option(value="1") Gò Vấp
									.location__item
										.location__txt
											h3 Tầng, số nhà, đường
										.location__input
											input(type="text" name="way")
									.location__item
										.location__txt
											h3 Số điện thoại
										.location__input
											input(type="text" name="phone")
								.btn__next-pay.step-1(data-url="/location",data-next="pay-step-2.html")
									span Tiếp tục
									.img
										img.svg(src="./assets/images/product/ar-r.svg", alt="")
				.pay__aside
					.patAside__item
						.pay__title.bg-2
							h2 MÃ GIẢM GIÁ CHO ĐƠN HÀNG
						.patAside__code
							form(action="")
								.code__input.active
									input(type="text" name="code" placeholder="Nhập mã giảm giá nếu có.	")
									input(type="button", value="Áp Dụng")
								span Mục mã giảm giá là băt buộc.
								.code__info
									h4 Áp dụng chương trình khuyến mãi.
									p Mua Online 2017: đơn hàng của Khang Minh khi mua từ 10.000.000 trở lên tặng 300.000đ.
					.patAside__item.bg-w
						.pay__title.bg-2
							h2 THÔNG TIN ĐƠN HÀNG
						.patAside__table
							table
								thead
									th SẢN PHẨM
									th SỐ LƯỢNG
									th ĐƠN GIÁ
								tbody
									-for(var i =0; i < 3; i++)
										tr
											td Yến sào cao cấp
											td 1
											td 2.700.000 VNĐ
									tr.no-border
										td(colspan="2") 
											h3 Tạm tính
											span.c-b Phí vận chuyển
										td 
											h3 5.406.000 VNĐ
											span.c-b 6.000 VNĐ
									tr.no-border.total
										td(colspan="2") 
											h3 Tổng tiền
											span (Tổng số tiền thanh toán)
										td 5.406.000 VNĐ
								
