section.Pay
	.container
		.container-1190px.pay__wrapper
			.pay__inner
				.pay__article
					.patArticle__item
						.pay__title
							span 2
							.checked.v-h
								img.svg(src="./assets/images/product/checked.svg", alt="checked")
							h2 thanh toán
						.pay__method
							form(action="#")
								.method__item
									.mtItem__radio
										input#1(type="radio", name="method")
										label(for="1") Thanh Toán Khi Nhận Hàng
									.mtItem__content
										p Quý khách sẽ thanh toán bằng tiền mặt khi nhận hàng tại nhà
										p Bằng cách đặt hàng, bạn đồng ý với Chính sách bảo mật và Điều khoản sử dụng của Khang Minh.
										p Bạn nhớ kiểm tra kỹ thông tin đơn hàng vì thông tin này sẽ không thể thay đổi sau khi đơn hàng được xác nhận thành công
								.method__item
									.mtItem__radio
										input#3(type="radio", name="method")
										label(for="3") Thẻ Atm Nội Địa/ Internet Banking ( 123pay )
									.mtItem__content
										p Để thực hiện việc thanh toán, bắt buộc thẻ ATM của bạn đã có đăng ký sử dụng dịch vụ Internet Banking.
										p 123Pay hiện đã hỗ trợ thanh toán qua 25 ngân hàng tại Việt Nam.
										p.style Chọn ngân hàng của bạn
										form(action="")
											.location__item
												.location__input.select.w-100
													select(name="wards")
														option(value="1") Vui lòng chọn ngân hàng
								.method__item
									.mtItem__radio
										input#4(type="radio", name="method")
										label(for="4") Thanh Toán Chuyển Khoản
									.mtItem__content
										ul
											li
												p Chi Nhánh: Hai Bà Trưng, Hà Nội
												p Ngân hàng Viettinbank , TK: Lê Thị Hằng Stk: 711A03652627
											li
												p Chi Nhánh: Bình Tây, Thành phố Hồ Chí Minh
												p Ngân hàng Vietcombank, TK: Lê Thị Hằng. Stk: 0251002216474
								.btn__next-pay.step-2(data-next="pay-step-3.html",data-url="/pay")
									.img
										img.svg(src="./assets/images/product/cart.svg", alt="")
									span ĐẶT HÀNG
				.pay__aside
					.patAside__item
						.pay__title.bg-2
							h2 MÃ GIẢM GIÁ CHO ĐƠN HÀNG
						.patAside__code
							form(action="")
								.code__input.active
									input(type="text" name="code" placeholder="Nhập mã giảm giá nếu có.	")
									input(type="button", value="Áp Dụng")
								span Mục mã giảm giá là băt buộc.
								.code__info
									h4 Áp dụng chương trình khuyến mãi.
									p Mua Online 2017: đơn hàng của Khang Minh khi mua từ 10.000.000 trở lên tặng 300.000đ.
					.patAside__item.bg-w
						.pay__title.bg-2
							h2 THÔNG TIN ĐƠN HÀNG
						.patAside__table
							table
								thead
									th SẢN PHẨM
									th SỐ LƯỢNG
									th ĐƠN GIÁ
								tbody
									-for(var i =0; i < 3; i++)
										tr
											td Yến sào cao cấp
											td 1
											td 2.700.000 VNĐ
									tr.no-border
										td(colspan="2") 
											h3 Tạm tính
											span.c-b Phí vận chuyển
										td 
											h3 5.406.000 VNĐ
											span.c-b 6.000 VNĐ
									tr.no-border.total
										td(colspan="2") 
											h3 Tổng tiền
											span (Tổng số tiền thanh toán)
										td 5.406.000 VNĐ
								
