extends _templates/_layout/_layout.pug

block var
	- let title = 'Cart | KhanhMinh';
	- let bodyClass = 'cart-page';

//- block loading
//- 	include _templates/_layout/_loading
block banner,breadcrumb
	include _templates/_layout/mainBanner
block main
	include _templates/cart/c-1
block scripts
