extends _templates/_layout/_layout.pug

block var
	- let title = 'Introduce | KhanhMinh';
	- let bodyClass = 'introduce-page';

//- block loading
//- 	include _templates/_layout/_loading
block banner,breadcrumb
	include _templates/_layout/mainBanner
block main
	include _templates/contact/c-1
block scripts
	script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?&libraries=places&key=AIzaSyCHvmyTralDp2Y0m7zEiN185u1vtArcC5s")
	script.
		var locationsInput = [
			{
				lat: 10.8511063,
				lng: 106.6867113,
				title: 'Home',
				address: '134/8A, Trần Bá Giao, Q.Gò Vấp, Tp. HCM',
				phone: '0914.633.990'
			}
		]
	script(src="./js/GoogleMapController.min.js")
