extends _templates/_layout/_layout.pug

block var
	- let title = 'Love-List | KhanhMinh';
	- let bodyClass = 'love-list-page';

//- block loading
//- 	include _templates/_layout/_loading
block banner,breadcrumb
	include _templates/_layout/mainBanner
block main
	include _templates/love-list/l-1
block scripts
