section.Check
	.container
		.container-1190px.check__wrapper
			.check__inner
				.check__item
					.checkItem__head
						h3 ĐỢT HÀNG 1
					.checkItem__body
						h2 ĐƠN HÀNG CỦA BẠN
						.checkItem__body-process
							.process
							.process__item-step-1
							span Đang sử lý
							.process__item-step-2
							span Đã được gửi đi
							.process__item-step-3
							span Đã giao hàng
						.checkITem__body-table
							table
								thead
									tr
										th(colspan="2") 2 SẢN PHẨM
										th SỐ LƯỢNG
										th GIÁ
								tbody
									tr
										td
											img(src="./assets/images/product/pro.png", alt="")
										td
											p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
											h6 Giao hàng Thứ ba, 23 - Thứ sáu, 26 tháng 11, 2015
										td 1 Kg
										td 20000000 vnđ
									tr
										td
											img(src="./assets/images/product/pro.png", alt="")
										td
											p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
											h6 Giao hàng Thứ ba, 23 - Thứ sáu, 26 tháng 11, 2015
										td 1 Kg
										td 20000000 vnđ
									tr.transport
										td(colspan="3") 
											h3 Tạm tính
											span.c-b Phí vận chuyển
										td 
											h3 5.406.000 VNĐ
											span.c-b 6.000 VNĐ
									tr.total
										td(colspan="3")
											h3 Tổng (đã bao gồm VAT)
										td 40.010.000 vnđ
					.checkItem__footer
						.checkFt__icon
							.img
								img(src="./assets/images/product/home.png", alt="home")
							.txt
								h3 ĐỊA CHỈ
								h6 GIAO HÀNG
						.checkFt__txt
							p Đinh Hồng Thái Ngọc
							p 01678 399 684
							p 192/68 Nguyễn Oanh, phường 17, quận Gò Vấp, Tp. HCM
