section.home__welcome
	.container
		.container-1190px
			.home__welcome__wrapper
				h2.title.text-uppercase Wellcome to Khang Minh
				div.desc
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				div.overview_khangminh
					a(href="#")
						.item
							.img
								img.ofcv.fullsize.blur-up.lazyload(src="./assets/images/home/who.png", alt="who we are")
							.desc-img
								p.text-uppercase Who we are ?
					a(href="#")
						.item
							.img
								img.ofcv.fullsize.blur-up.lazyload(src="./assets/images/home/how.png", alt="who we are")
							.desc-img
								p.text-uppercase Who we are ?
					a(href="#")
						.item
							.img
								img.ofcv.fullsize.blur-up.lazyload(src="./assets/images/home/about.png", alt="who we are")
							.desc-img
								p.text-uppercase Who we are ?