@font-face {
    font-family: HelvelticaNeuePro;
    src: url('../fonts/HelveticaNeueLTPro-HvCn.otf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url('../fonts/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: RobotoC-Bold;
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: RobotoC-Regular;
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: SegoeScript-Regular;
    src: url('../fonts/segoesc.ttf');
}

@font-face {
    font-family: SegoeScript-Bold;
    src: url('../fonts/segoescb.ttf');
}

@font-face {
    font-family: Din-Light;
    src: url('../fonts/DINLight.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/ROBOTO-BOLD.ttf');
}