[hidden],
.hidden,
.d-none {
    display: none !important;
}

input,
select,
textarea {
    &.input-validation-error {
        color: red !important;
        border: 1px solid red !important;
        transition: 0.3s all ease-in-out;
        &::placeholder {
            color: red !important;
        }
    }
}

.desktop {
    @media (max-width: 1024px) {
        display: none !important;
    }
}

.mobile {
    @media (min-width: 1025px) {
        display: none !important;
    }
}

.d-block {
    display: block;
}

.d-n {
    display: none;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.list-style-none {
    list-style-type: none;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.font-italic {
    font-style: italic;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.v-h {
    visibility: hidden;
    opacity: 0;
}

.v-v {
    visibility: visible;
}

.text-center {
    text-align: center;
}

.h-100 {
    height: 100%;
}

#back_to_top {
    cursor: pointer;
    position: fixed;
    right: 25px;
    bottom: 240px;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease-in-out;
    z-index: 300;
    width: 35px;
    &.show {
        opacity: 1;
        visibility: visible;
    }
    @media (max-width: 575.98px) {
        right: unset;
        left: 10px;
        bottom: 10px;
        height: 40px;
    }
}

.lcl {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    &-1 {
        -webkit-line-clamp: 1;
    }
    &-2 {
        -webkit-line-clamp: 2;
    }
    &-3 {
        -webkit-line-clamp: 3;
    }
    &-4 {
        -webkit-line-clamp: 4;
    }
}

#overlay {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	background-color: rgba(0, 0, 0, .8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	transition: .3s all ease-in-out;

	&.show {
		opacity: 1;
		visibility: visible;
		pointer-events: visible;
	}
}